@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.article .header {
  background-color: #212b41;
}
@media only screen and (min-width: 768px) {
  .article .header {
    min-height: 316px;
  }
}
@media only screen and (max-width: 767px) {
  .article .header {
    min-height: 174px;
    padding: 0 20px;
  }
}
.article .header__content {
  max-width: 950px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .article .header__content {
    padding-top: 180px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .article .header__content {
    padding-top: 96px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .article .header__content h1 {
    text-transform: uppercase;
    margin: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .article .header__content h1 {
    margin: 12px 0 0;
    line-height: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .article .header__content .backurl {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .article .header__content .backurl {
    display: block;
  }
}
.article__content {
  color: #000;
}
@media only screen and (min-width: 768px) {
  .article__content {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (min-width: 768px) {
  .article__content {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content {
    padding-top: 15px;
  }
}
.article__content .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .article__content .blueline {
    top: -76px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .blueline {
    top: -50px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .article__content .blueline.active {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .blueline.active {
    height: 40px;
  }
}
.article__content .greyline {
  position: absolute;
  background: rgba(216,216,216,0.1);
}
@media only screen and (min-width: 768px) {
  .article__content .greyline {
    top: -99px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .greyline {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .article__content .greyline.active {
    height: 120px;
  }
}
.article__content .greycircle {
  position: absolute;
  background: #ebebeb;
}
@media only screen and (min-width: 768px) {
  .article__content .greycircle {
    top: -243px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .greycircle {
    top: -81px;
    right: 20px;
  }
}
.article__content .greycircle:before {
  background: transparent;
  border: 2px solid #ebebeb;
}
@media only screen and (min-width: 768px) {
  .article__content .greycircle:before {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .greycircle:before {
    width: 6px;
    height: 6px;
    top: auto;
    bottom: -10px;
    left: -4px;
  }
}
@media only screen and (min-width: 768px) {
  .article__content .greycircle.active {
    height: 204px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content .greycircle.active {
    height: 90px;
  }
}
.article__content-header {
  font-size: 0;
}
@media only screen and (max-width: 767px) {
  .article__content-header {
    margin-bottom: 10px;
    position: relative;
  }
  .article__content-header:before {
    content: '';
    width: calc(100% + 40px);
    left: -20px;
    background: #fafafa;
    border-top: 0.5px solid #d5d5d5;
    border-bottom: 0.5px solid #d5d5d5;
    height: 10px;
    display: block;
    position: absolute;
    bottom: -10px;
  }
}
.article__content-header-time {
  vertical-align: middle;
  font-family: "Proxima Nova";
  position: relative;
  color: #636870;
}
@media only screen and (min-width: 768px) {
  .article__content-header-time {
    display: inline-block;
    line-height: 40px;
    padding-left: 60px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-header-time {
    display: block;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    line-height: 30px;
    padding-left: 40px;
    font-size: 14px;
  }
}
.article__content-header-time img {
  top: 0;
  left: 0;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .article__content-header-time img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-header-time img {
    width: 30px;
    height: 30px;
  }
}
.article__content-header-repost {
  line-height: 0;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fffbf7;
  padding: 0 7px;
  display: inline-block;
  margin-left: 168px;
}
@media only screen and (max-width: 767px) {
  .article__content-header-repost {
    display: none;
  }
}
.article__content-header-repost-count {
  display: inline-block;
  background: url("../img/repost-top.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 22px 24px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  padding-left: 25px;
  cursor: pointer;
}
.article__content-header-repost-social {
  text-align: justify;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  padding: 0;
  margin: 0;
  position: relative;
  height: 36px;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  overflow: hidden;
}
.article__content-header-repost-social.-active {
  width: 146px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
.article__content-header-repost-social:before {
  content: '';
  width: 2px;
  height: 20px;
  border-radius: 10px;
  background: #efdac8;
  position: absolute;
  top: 8px;
  left: 0;
}
.article__content-header-repost-social > a {
  display: inline-block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.article__content-header-repost-social .twitter {
  background-image: url("../img/twitter-black.svg");
  width: 14.5px;
  background-size: 100%;
}
.article__content-header-repost-social .twitter:hover {
  background-image: url("../img/twitter-hover.svg");
}
.article__content-header-repost-social .vk {
  background-image: url("../img/vk-black.svg");
  width: 16.2px;
  background-size: 100%;
  margin-left: 30.4px;
}
.article__content-header-repost-social .vk:hover {
  background-image: url("../img/vk-hover.svg");
}
.article__content-header-repost-social .fb {
  background-image: url("../img/fb-black.svg");
  width: 7.7px;
  background-size: 100%;
  margin-left: 30.7px;
}
.article__content-header-repost-social .fb:hover {
  background-image: url("../img/fb-hover.svg");
}
.article__content-header-repost-social .telegram {
  background-image: url("../img/telegram-black.svg");
  width: 15.9px;
  background-size: 100%;
  margin-left: 30.3px;
}
.article__content-header-repost-social .telegram:hover {
  background-image: url("../img/telegram-hover.svg");
}
@media only screen and (min-width: 768px) {
  .article__content-header-info {
    float: right;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-header-info {
    float: block;
  }
}
.article__content-header-info:after {
  content: '';
  display: table;
  clear: both;
}
.article__content-header-date,
.article__content-header-autor {
  display: inline-block;
  color: #636870;
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 768px) {
  .article__content-header-date,
  .article__content-header-autor {
    font-size: 15px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-header-date,
  .article__content-header-autor {
    font-size: 14px;
    line-height: 54px;
  }
}
.article__content-header-autor {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .article__content-header-autor {
    margin-left: 63px;
    padding-left: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-header-autor {
    float: right;
  }
}
.article__content-header-autor-img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 767px) {
  .article__content-header-autor-img {
    display: none;
  }
}
.article__content-header-autor-img:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,18,61,0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.article__content-header-autor-img img {
  width: 100%;
}
.article__content-text {
  margin-top: 38px;
}
.article__content-text h2 {
  font-family: "TT Rounds";
}
@media only screen and (min-width: 768px) {
  .article__content-text h2 {
    margin: 80px 0 40px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text h2 {
    margin: 40px 0 20px;
  }
}
.article__content-text .text {
  max-width: 750px;
  font-family: "Proxima Nova";
}
.article__content-text-picture {
  font-size: 0;
  margin-top: 60px;
}
@media only screen and (min-width: 768px) {
  .article__content-text-picture + .text {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text-picture + .text {
    margin-top: 16px;
  }
}
.article__content-text-picture-img {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
@media only screen and (min-width: 768px) {
  .article__content-text-picture-img {
    width: 73%;
    border-radius: 10px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text-picture-img {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
.article__content-text-picture-img img {
  width: 100%;
}
.article__content-text-picture-notation {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  color: #636870;
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 768px) {
  .article__content-text-picture-notation {
    width: 27%;
    line-height: 24px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text-picture-notation {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 2px solid rgba(99,104,122,0.3);
  }
}
.article__content-text-thesis {
  max-width: 750px;
  font-family: "TT Rounds";
  font-weight: bold;
  border-left: 3px solid #f78200;
}
@media only screen and (min-width: 768px) {
  .article__content-text-thesis {
    font-size: 24px;
    line-height: 40px;
    padding-left: 40px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text-thesis {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0 18px 17px;
    margin-left: -20px;
    width: calc(100% + 20px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.article__content-text ol {
  list-style-type: none;
  counter-reset: num;
}
@media only screen and (min-width: 1199px) {
  .article__content-text ol {
    margin-left: -40px;
  }
}
@media only screen and (max-width: 1198px) {
  .article__content-text ol {
    margin-left: -5px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1199px) {
  .article__content-text ul {
    margin-left: -40px;
  }
}
@media only screen and (max-width: 1198px) {
  .article__content-text ul {
    margin-left: -5px;
    padding-left: 30px;
  }
}
.article__content-text ul li:before {
  content: '';
}
.article__content-text li {
  border-top: 1px solid #d8d8d8;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .article__content-text li {
    line-height: 28px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text li {
    line-height: 24px;
    font-size: 16px;
  }
}
.article__content-text li:first-child {
  border: none;
}
.article__content-text li:before {
  content: counter(num);
  counter-increment: num;
  font-family: "TT Rounds";
  font-weight: bold;
  position: absolute;
  text-align: right;
}
@media only screen and (min-width: 1199px) {
  .article__content-text li:before {
    left: -40px;
    width: 20px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198px) {
  .article__content-text li:before {
    left: -40px;
    width: 20px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .article__content-text li:before {
    left: -36px;
    width: 15px;
    font-size: 13px;
    line-height: 24px;
  }
}
.article__footer {
  background: #1f2637;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .article__footer {
    padding: 60px 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer {
    padding: 20px 0 30px;
  }
  .article__footer:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1px;
    background: #333c51;
  }
}
@media only screen and (min-width: 768px) {
  .article__footer .container:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -40px;
    height: 1px;
    background: #333c51;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.article__footer .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .article__footer .blueline {
    top: -90px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer .blueline {
    top: -40px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .article__footer .blueline.active {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer .blueline.active {
    height: 40px;
  }
}
.article__footer .greyline {
  position: absolute;
  background: #d8d8d8;
}
@media only screen and (min-width: 768px) {
  .article__footer .greyline {
    top: -90px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer .greyline {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .article__footer .greyline.active {
    height: 60px;
  }
}
.article__footer .orangecircle {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .article__footer .orangecircle {
    top: -107px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer .orangecircle {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .article__footer .orangecircle.active {
    height: 80px;
  }
}
.article__footer-repost {
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: #f6f9ff;
  padding: 0 7px;
  color: #000;
  line-height: 40px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost {
    display: inline-block;
    padding: 20px 0 20px 30px;
    font-size: 15px;
    font-family: "Proxima Nova";
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost {
    display: block;
    padding: 22px 30px 40px;
    text-align: center;
    font-size: 18px;
    font-family: "TT Rounds";
  }
}
.article__footer-repost-count {
  display: inline-block;
  background: url("../img/repost-bottom.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 24px 24px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
  padding-left: 35px;
  margin-left: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-count {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-count {
    font-size: 18px;
  }
}
.article__footer-repost-social {
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 40px;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social {
    display: inline-block;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social {
    display: block;
    text-align: center;
    margin-top: 12px;
  }
}
.article__footer-repost-social:before {
  content: '';
  width: 2px;
  height: 30px;
  border-radius: 10px;
  background: #e0e5ef;
  position: absolute;
  top: 5px;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social:before {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social:before {
    display: none;
  }
}
.article__footer-repost-social > a {
  display: inline-block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social > a:first-child {
    padding-left: 0;
    background-position: left;
  }
  .article__footer-repost-social > a:last-child {
    padding-right: 0;
    background-position: right;
  }
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social .twitter {
    background-image: url("../img/twitter-black.svg");
    background-size: 14.5px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social .twitter {
    background-image: url("../img/twitter-hover-bot.svg");
    background-size: 40px;
  }
}
.article__footer-repost-social .twitter:hover {
  background-image: url("../img/twitter-hover-bot.svg");
  background-size: 40px;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social .vk {
    background-image: url("../img/vk-black.svg");
    background-size: 16.2px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social .vk {
    background-image: url("../img/vk-hover-bot.svg");
    background-size: 40px;
  }
}
.article__footer-repost-social .vk:hover {
  background-image: url("../img/vk-hover-bot.svg");
  background-size: 40px;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social .fb {
    background-image: url("../img/fb-black.svg");
    background-size: 7.7px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social .fb {
    background-image: url("../img/fb-hover-bot.svg");
    background-size: 40px;
  }
}
.article__footer-repost-social .fb:hover {
  background-image: url("../img/fb-hover-bot.svg");
  background-size: 40px;
}
@media only screen and (min-width: 768px) {
  .article__footer-repost-social .telegram {
    background-image: url("../img/telegram-black.svg");
    background-size: 15.9px;
  }
}
@media only screen and (max-width: 767px) {
  .article__footer-repost-social .telegram {
    background-image: url("../img/telegram-hover-bot.svg");
    background-size: 40px;
  }
}
.article__footer-repost-social .telegram:hover {
  background-image: url("../img/telegram-hover-bot.svg");
  background-size: 40px;
}
@media only screen and (min-width: 981px) {
  .article__footer-info {
    float: right;
  }
  .article__footer-info:after {
    content: '';
    display: table;
    clear: both;
  }
}
@media only screen and (max-width: 980px) {
  .article__footer-info {
    display: block;
    padding: 0 0 20px 0;
    position: relative;
    margin-bottom: 20px;
  }
  .article__footer-info:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    bottom: 0;
    height: 1px;
    background: #333c51;
  }
}
.article__footer-date,
.article__footer-autor {
  display: inline-block;
  color: #fff;
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 981px) {
  .article__footer-date,
  .article__footer-autor {
    font-size: 15px;
    line-height: 40px;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 980px) {
  .article__footer-date,
  .article__footer-autor {
    font-size: 14px;
    line-height: 30px;
    padding: 0;
  }
}
.article__footer-autor {
  position: relative;
}
@media only screen and (min-width: 981px) {
  .article__footer-autor {
    margin-left: 53px;
    padding-left: 55px;
  }
}
@media only screen and (max-width: 980px) {
  .article__footer-autor {
    margin-left: 53px;
    padding-left: 40px;
    float: right;
  }
  .article__footer-autor span {
    vertical-align: top;
    display: inline-block;
  }
  .article__footer-autor span:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 1.3em;
    color: transparent;
    vertical-align: baseline;
    padding-left: 0.5em;
    position: relative;
  }
  .article__footer-autor span:last-child:after {
    content: '.';
    color: #fff;
    display: inline-block;
    position: absolute;
    width: 2px;
    left: 1.4em;
  }
  .article__footer-autor span:last-child:first-letter {
    color: #fff;
  }
}
.article__footer-autor-img {
  position: absolute;
  border-radius: 40px;
  overflow: hidden;
  left: 0px;
}
@media only screen and (min-width: 981px) {
  .article__footer-autor-img {
    width: 40px;
    height: 40px;
    top: 20px;
  }
}
@media only screen and (max-width: 980px) {
  .article__footer-autor-img {
    width: 30px;
    height: 30px;
    top: 0;
  }
}
.article__footer-autor-img:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,18,61,0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.article__footer-autor-img img {
  width: 100%;
}
.article__readmore {
  background: #1f2637;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .article__readmore {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore {
    padding: 40px 0;
  }
  .article__readmore:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    bottom: 0;
    height: 1px;
    background: #333c51;
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.article__readmore-title {
  color: #fff;
  text-transform: uppercase;
}
.article__readmore-list {
  margin-top: 42px;
}
.article__readmore-list-item {
  display: block;
  font-size: 0;
  width: 100%;
  position: relative;
  border-color: transparent;
  border-top: 1px solid #333c51;
  line-height: 0;
  position: relative;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: border-color, background;
  transition-property: border-color, background;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .article__readmore-list-item {
    height: 60px;
  }
  .article__readmore-list-item:first-child {
    border-color: transparent;
  }
  .article__readmore-list-item:hover {
    border: 2px solid #3c7fff;
    border-radius: 4px;
    background: #222a3d;
  }
  .article__readmore-list-item:hover .article__readmore-list-item-date {
    color: #fff;
    left: -2px;
    top: 1px;
  }
  .article__readmore-list-item:hover .article__readmore-list-item-title {
    padding-left: 132px;
  }
  .article__readmore-list-item:hover > * {
    line-height: 56px;
/*&:after
                opacity 1
                height auto*/
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore-list-item {
    padding: 10px 0;
    border-color: #333c51;
  }
  .article__readmore-list-item:last-child {
    border-top: 1px solid #333c51;
  }
  .article__readmore-list-item:hover {
    text-decoration: none;
  }
}
.article__readmore-list-item > * {
  vertical-align: baseline;
}
@media only screen and (min-width: 768px) {
  .article__readmore-list-item > * {
    line-height: 58px;
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore-list-item > * {
    display: block;
    line-height: 24px;
  }
}
.article__readmore-list-item-date {
  font-family: "Proxima Nova";
  color: #51596b;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
@media only screen and (min-width: 768px) {
  .article__readmore-list-item-date {
    position: absolute;
    left: 0px;
    top: 1px;
    font-size: 15px;
    width: 134px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore-list-item-date {
    position: relative;
    font-size: 14px;
    text-align: left;
    margin-top: 9px;
  }
}
.article__readmore-list-item-title {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .article__readmore-list-item-title {
    white-space: nowrap;
    font-size: 18px;
    padding-left: 134px;
  }
}
@media only screen and (max-width: 767px) {
  .article__readmore-list-item-title {
    font-size: 18px;
  }
}
.article__comments {
  background: #1d2333;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .article__comments {
    padding: 120px 0;
  }
}
@media only screen and (max-width: 767px) {
  .article__comments {
    padding: 40px 0;
  }
  .article__comments:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    bottom: 0;
    height: 1px;
    background: #333c51;
  }
}
.article__comments .orangeline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .article__comments .orangeline {
    top: -170px;
    right: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .article__comments .orangeline {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .article__comments .orangeline.active {
    height: 100px;
  }
}
.article__comments h2 {
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .article__comments h2 {
    display: none;
  }
}
.article__comments .container {
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
@media only screen and (max-width: 767px) {
  .article__comments .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.article__comments .container:before {
  content: '';
  position: absolute;
  background: url("../img/comments-top.svg");
  width: 417px;
  height: 405px;
  background-size: 100%;
  top: 130px;
  left: -70px;
  z-index: 0;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
@media only screen and (max-width: 767px) {
  .article__comments .container:before {
    display: none;
  }
}
.article__comments .container:after {
  content: '';
  position: absolute;
  background: url("../img/comments-bottom.svg");
  width: 409px;
  height: 463px;
  background-size: 100%;
  bottom: -15px;
  right: -65px;
  z-index: 0;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
@media only screen and (max-width: 767px) {
  .article__comments .container:after {
    display: none;
  }
}
.article__comments-wrap {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
@media only screen and (min-width: 768px) {
  .article__comments-wrap {
    padding: 60px 89px;
    margin-top: 29px;
  }
}
@media only screen and (max-width: 767px) {
  .article__comments-wrap {
    height: 0;
    overflow: hidden;
  }
  .article__comments-wrap.-active {
    padding: 30px 20px;
    height: auto;
    margin-top: 20px;
  }
}
.article__comments-button {
  border: none;
  background-color: #f78200;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Proxima Nova";
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
@media only screen and (min-width: 768px) {
  .article__comments-button {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .article__comments-button {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 50px;
    height: 50px;
  }
}
.article__comments-button:before {
  content: 'Скрыть комментарии';
  font-size: 0;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}
.article__comments-button.-active {
  font-size: 0;
  overflow: hidden;
}
.article__comments-button.-active:before {
  font-size: 18px;
}
.article__comments-button:hover {
  background-color: #ff8e11;
  text-decoration: none;
}
.article__comments-button .disqus-comment-count {
  display: inline;
}
.article .audit-form {
  background-color: #1f2637;
}
@media only screen and (min-width: 768px) {
  .article .audit-form .orangecircle {
    top: -70px;
  }
}
@media only screen and (max-width: 767px) {
  .article .audit-form .orangecircle {
    top: -18px;
  }
}
@media only screen and (min-width: 768px) {
  .article .audit-form .orangecircle.active {
    height: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .article .audit-form .orangecircle.active {
    height: 60px;
  }
}
