@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.greyline {
  width: 2px;
  height: 0px;
  background-color: rgba(216,216,216,0.1);
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.blueline {
  width: 2px;
  height: 0px;
  background-color: #3b7eff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fd933b;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .orangecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .orangecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.orangeline {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.audit-form {
  background-image: url("../img/form-back_dark.svg");
  background-position: center 315px;
  background-repeat: no-repeat;
  background-size: 875px;
}
.audit-form .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .audit-form .container {
    padding-top: 106px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .container {
    padding: 40px 20px 0;
  }
}
.audit-form__title {
  text-transform: uppercase;
  max-width: 675px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .audit-form__title {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__title {
    text-align: left;
  }
}
.audit-form__subtitle {
  font-family: "Proxima Nova";
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .audit-form__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
}
.audit-form__form {
  display: block;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(134deg, #144fc0 0%, #2ca7ff 100%);
  background-image: linear-gradient(-44deg, #144fc0 0%, #2ca7ff 100%);
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .audit-form__form {
    max-width: 590px;
    border-radius: 10px;
    padding: 34px 0 61px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
    padding: 30px 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.audit-form__form-legend,
.audit-form__form form {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .audit-form__form-legend,
  .audit-form__form form {
    max-width: 380px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form-legend,
  .audit-form__form form {
    width: 100%;
  }
}
.audit-form__form-legend {
  font-family: "Proxima Nova";
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .audit-form__form-legend {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .control-label {
    margin-top: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .control-label {
    margin-top: 20px;
  }
}
.audit-form .form__button {
  border: none;
  background-color: #f78200;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Proxima Nova";
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .audit-form .form__button {
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    padding: 0 40px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15px;
    line-height: 46px;
    height: 50px;
    margin-top: 20px;
  }
}
.audit-form .form__button:hover {
  background-color: #ff8e11;
  text-decoration: none;
}
.audit-form .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .audit-form .blueline {
    top: -37px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .blueline {
    top: -25px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .blueline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .blueline.active {
    height: 60px;
  }
}
.audit-form .orangecircle {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .audit-form .orangecircle {
    top: -186px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .orangecircle {
    top: -63px;
    right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .orangecircle.active {
    height: 360px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .orangecircle.active {
    height: 100px;
  }
}
