@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.audit-form {
/* background-image url('../img/form-back_dark.svg') 
  background-position center 315px  
  background-repeat no-repeat
  background-size 875px*/
  color: #fff;
  position: relative;
  z-index: 1;
}
.audit-form .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .audit-form .container {
    padding-top: 106px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .container {
    padding: 40px 20px 0;
  }
}
.audit-form__title {
  text-transform: uppercase;
  max-width: 675px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .audit-form__title {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__title {
    text-align: left;
  }
}
.audit-form__subtitle {
  font-family: "Proxima Nova";
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .audit-form__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
}
.audit-form__form {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .audit-form__form {
    max-width: 590px;
    border-radius: 10px;
    padding: 34px 0 61px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
    padding: 30px 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.audit-form__form:before {
  content: '';
  z-index: 0;
  position: absolute;
  width: calc(100% + 280px);
  left: -140px;
  height: calc(100% + 60px);
  top: -30px;
  background-image: url("../img/form-back_dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 768px) {
  .audit-form__form:before {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form:before {
    display: none;
  }
}
.audit-form__form-legend,
.audit-form__form form {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .audit-form__form-legend,
  .audit-form__form form {
    max-width: 380px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form-legend,
  .audit-form__form form {
    width: 100%;
  }
}
.audit-form__form-legend {
  font-family: "Proxima Nova";
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .audit-form__form-legend {
    display: none;
  }
}
.audit-form__form form {
  background-image: -webkit-linear-gradient(134deg, #144fc0 0%, #2ca7ff 100%);
  background-image: linear-gradient(-44deg, #144fc0 0%, #2ca7ff 100%);
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .audit-form__form form {
    max-width: 590px;
    border-radius: 10px;
    padding: 34px 105px 61px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form__form form {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
    padding: 30px 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .control-label {
    margin-top: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .control-label {
    margin-top: 20px;
  }
}
.audit-form .form__button {
  border: none;
  background-color: #f78200;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Proxima Nova";
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .audit-form .form__button {
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    padding: 0 40px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15px;
    line-height: 46px;
    height: 50px;
    margin-top: 20px;
  }
}
.audit-form .form__button:hover {
  background-color: #ff8e11;
  text-decoration: none;
}
.audit-form .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .audit-form .blueline {
    top: -37px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .blueline {
    top: -25px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .blueline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .blueline.active {
    height: 60px;
  }
}
.audit-form .orangecircle {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .audit-form .orangecircle {
    top: -186px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .orangecircle {
    top: -63px;
    right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .audit-form .orangecircle.active {
    height: 360px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .orangecircle.active {
    height: 100px;
  }
}
.audit-form .form__field.-step2 {
  display: none;
}
.audit-form .form__field.-step2 .audit-form__form-legend {
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .audit-form .form__field.-step2 .audit-form__form-legend {
    display: block;
    line-height: 20px;
    font-size: 16px;
  }
}
.audit-form .form__field.-step2 .input + .audit-form__form-legend {
  margin-top: 30px;
}
.audit-form .form__field.-step2 input,
.audit-form .form__field.-step2 textarea {
  border-top: 15px solid #fff;
}
.audit-form .form__field.-step2 input:focus ~ .input__placeholder,
.audit-form .form__field.-step2 textarea:focus ~ .input__placeholder {
  opacity: 0;
}
.audit-form .form__regions {
  width: 100%;
  font-size: 0;
  text-align: justify;
  line-height: 0;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .audit-form .form__regions {
    padding-bottom: 30pxm 1px solid rgba(216,216,216,0.1);
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .form__regions {
    margin-top: 20px;
  }
}
.audit-form .form__regions:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 0;
}
.audit-form .form__regions + .form__button {
  margin-top: 30px;
}
.audit-form .form__regions-item {
  font-family: "Proxima Nova";
  position: relative;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .audit-form .form__regions-item {
    display: inline-block;
    line-height: 14px;
    margin-top: 20px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .form__regions-item {
    display: block;
    line-height: 50px;
    border-top: 1px solid rgba(216,216,216,0.1);
  }
  .audit-form .form__regions-item:first-child {
    border: none;
  }
}
.audit-form .form__regions-item .close {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/close.svg");
  opacity: 0.5;
  background-size: cover;
  z-index: 4;
  cursor: pointer;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .audit-form .form__regions-item .close {
    right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .audit-form .form__regions-item .close {
    right: 0;
  }
}
.audit-form .form__regions-item .close:hover {
  opacity: 1;
}
