@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.greyline {
  width: 2px;
  height: 0px;
  background-color: rgba(216,216,216,0.1);
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.blueline {
  width: 2px;
  height: 0px;
  background-color: #3b7eff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fd933b;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .orangecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .orangecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.orangeline {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.greycircle {
  width: 1px;
  height: 0px;
  background-color: #d8d8d8;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.greycircle:before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .greycircle:before {
    width: 14px;
    height: 14px;
    top: -16px;
    left: -7.5px;
  }
}
@media only screen and (max-width: 767px) {
  .greycircle:before {
    width: 8px;
    height: 8px;
    top: -10px;
    left: -4.5px;
  }
}
.cases .header {
  background-color: #212b41;
}
@media only screen and (min-width: 768px) {
  .cases .header {
    min-height: 316px;
  }
}
@media only screen and (max-width: 767px) {
  .cases .header {
    min-height: 174px;
    padding: 0 20px;
  }
}
.cases .header__content {
  max-width: 772px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .cases .header__content {
    padding-top: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .cases .header__content {
    padding-top: 102px;
  }
}
.cases .header__content h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.cases .audit-form {
  background-color: #1f2637;
}
@media only screen and (min-width: 768px) {
  .cases .audit-form .orangecircle {
    top: -70px;
  }
}
.cases .audit-form .orangecircle.active {
  height: 120px;
}
