@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.contacts .header {
  background-color: #212b41;
  line-height: 0;
}
@media only screen and (min-width: 768px) {
  .contacts .header {
    min-height: 310px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts .header {
    min-height: 174px;
    padding: 0 20px;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.contacts .header__content {
  max-width: 772px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .contacts .header__content {
    padding-top: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts .header__content {
    padding-top: 96px;
  }
}
.contacts .header__content h1 {
  text-transform: uppercase;
  margin: 0px;
}
.contacts__content {
  color: #000;
  position: relative;
  font-size: 0;
}
@media only screen and (min-width: 768px) {
  .contacts__content {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.contacts__content h2 {
  text-transform: uppercase;
}
.contacts__content-about {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  .contacts__content-about {
    width: 51.23%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content-about {
    width: 100%;
  }
}
.contacts__content-about .greycircle {
  position: absolute;
  background: #ebebeb;
}
@media only screen and (min-width: 981px) {
  .contacts__content-about .greycircle {
    top: 457px;
    left: 0;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1198px) {
  .contacts__content-about .greycircle {
    top: 500px;
    left: 0;
  }
}
@media only screen and (max-width: 980px) {
  .contacts__content-about .greycircle {
    display: none;
  }
}
.contacts__content-about .greycircle:before {
  background: transparent;
  border: 2px solid #ebebeb;
}
@media only screen and (min-width: 981px) {
  .contacts__content-about .greycircle:before {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (min-width: 981px) {
  .contacts__content-about .greycircle.active {
    height: 60px;
  }
}
.contacts__content-address {
  font-size: 18px;
  line-height: 28px;
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 768px) {
  .contacts__content-address {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content-address {
    margin-top: 20px;
  }
}
.contacts__content-numbers {
  margin-top: 40px;
  font-size: 0;
  width: 100%;
}
.contacts__content-numbers-item {
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
}
@media only screen and (min-width: 981px) {
  .contacts__content-numbers-item {
    width: 50%;
  }
}
@media only screen and (max-width: 980px) {
  .contacts__content-numbers-item {
    width: 100%;
    margin-bottom: 40px;
  }
  .contacts__content-numbers-item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .contacts__content-numbers-item {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content-numbers-item {
    text-align: center;
    line-height: 25px;
    font-size: 16px;
  }
}
.contacts__content-numbers-item img {
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .contacts__content-numbers-item img {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__content-numbers-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.contacts__content .vacancy__talants-slider {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .contacts__content .vacancy__talants-slider {
    top: -102px;
  }
}
.contacts__requisites {
  color: #000;
  background: #fafafb;
}
@media only screen and (max-width: 767px) {
  .contacts__requisites {
    margin-top: 102px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__requisites .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}
.contacts__requisites-button {
  font-weight: bold;
  cursor: pointer;
}
@media only screen and (min-width: 981px) {
  .contacts__requisites-button {
    margin-top: 174px;
    font-size: 24px;
    line-height: 60px;
    text-transform: uppercase;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .contacts__requisites-button {
    margin-top: 50px;
    font-size: 24px;
    line-height: 60px;
    text-transform: uppercase;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__requisites-button {
    position: absolute;
    top: -82px;
    font-size: 18px;
    line-height: 32px;
    width: calc(100% - 40px);
  }
}
.contacts__requisites-button:after {
  content: '';
  display: inline-block;
  background: url("../img/left-arrow.svg");
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-size: 100%;
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
}
@media only screen and (min-width: 768px) {
  .contacts__requisites-button:after {
    width: 9px;
    height: 15px;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__requisites-button:after {
    width: 6px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
  }
}
.contacts__requisites-button.-active:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.contacts__requisites-info {
  font-size: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.contacts__requisites-info.-active {
  height: auto;
}
@media only screen and (min-width: 768px) {
  .contacts__requisites-info.-active {
    padding: 50px 0 60px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__requisites-info.-active {
    padding: 30px 0 40px;
  }
}
.contacts__requisites-info-item {
  display: inline-block;
  vertical-align: top;
  font-family: "Proxima Nova";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .contacts__requisites-info-item {
    width: 50%;
    padding-right: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__requisites-info-item {
    width: 100%;
  }
  .contacts__requisites-info-item + .contacts__requisites-info-item {
    margin-top: 24px;
  }
}
.contacts__map {
  width: 100%;
  min-height: 800px;
}
.contacts__map .orangecircle {
  position: absolute;
  z-index: 3;
}
@media only screen and (min-width: 1199px) {
  .contacts__map .orangecircle {
    top: -64px;
    right: -47px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198px) {
  .contacts__map .orangecircle {
    top: -64px;
    right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__map .orangecircle {
    top: -19px;
    right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts__map .orangecircle:before {
    bottom: auto;
    top: -16px;
    left: -7.5px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__map .orangecircle:before {
    bottom: auto;
    top: -10px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts__map .orangecircle.active {
    height: 144px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__map .orangecircle.active {
    height: 71px;
  }
}
.contacts__map-baloon {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  margin-top: -10px;
  font-family: "Proxima Nova";
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
}
@media only screen and (min-width: 768px) {
  .contacts__map-baloon {
    padding: 25px 30px;
    line-height: 28px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__map-baloon {
    padding: 13px;
    line-height: 25px;
    font-size: 16px;
  }
}
.contacts__map-baloon .close {
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .contacts__map-baloon .close {
    top: 25px;
    right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts__map-baloon .close {
    top: 15px;
    right: 15px;
  }
}
.contacts__map-baloon .close img {
  vertical-align: top;
}
.contacts__map-baloon p {
  padding-top: 10px;
}
.contacts__map .popover {
  display: block;
}
.contacts__map .popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
}
.contacts__map .btn {
  margin-top: 10px;
}
.contacts__map .ymaps-2-1-65-shadows-pane {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
}
.contacts__map .ymaps-2-1-65-balloon-shadow {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  background-image: -webkit-linear-gradient(29deg, #141414 1%, #4a4a4a 100%);
  background-image: linear-gradient(61deg, #141414 1%, #4a4a4a 100%);
  background: rgba(31,45,79,0.5);
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
}
