@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.greyline {
  width: 2px;
  height: 0px;
  background-color: rgba(216,216,216,0.1);
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.blueline {
  width: 2px;
  height: 0px;
  background-color: #3b7eff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fd933b;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .orangecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .orangecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.orangeline {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.control {
  position: relative;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  width: 100%;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .control:after {
    content: '';
    width: 67px;
    height: 15px;
    right: -20px;
    top: 5px;
    display: block;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(30,100,211,0)), color-stop(99%, #185bc9));
    background-image: -webkit-linear-gradient(left, rgba(30,100,211,0) 0%, #185bc9 99%);
    background-image: linear-gradient(90deg, rgba(30,100,211,0) 0%, #185bc9 99%);
  }
}
.control__box {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 0;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s, 0.2s, 0.2s;
  transition: background-color 0.2s, 0.2s, 0.2s;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .control__box {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .control__box {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}
.control__image {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .control__image img {
    width: 52px;
    height: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .control__image img {
    width: 44px;
    height: 44px;
  }
}
.control__image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #f44519;
  opacity: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.control__image img {
  display: block;
}
.control input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.01;
}
.control input[type="radio"] ~ .control__box {
  border-radius: 50%;
}
.control input[type="radio"] ~ .control__box:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f44519;
  opacity: 0;
}
.control input[type="radio"]:checked ~ .control__box:before {
  opacity: 1;
}
.control input[type="checkbox"] ~ .control__box {
  border-radius: 3px;
}
.control input[type="checkbox"] ~ .control__box img {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: opacity 0.2s, 0.2s, 0.2s;
  transition: opacity 0.2s, 0.2s, 0.2s;
}
@media only screen and (min-width: 768px) {
  .control input[type="checkbox"] ~ .control__box img {
    width: 10px;
    height: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .control input[type="checkbox"] ~ .control__box img {
    width: 12.67px;
    height: 10px;
  }
}
.control input[type="checkbox"]:hover ~ .control__box {
  -webkit-box-shadow: 0 0 0 2px #eaeaea;
          box-shadow: 0 0 0 2px #eaeaea;
}
.control input[type="checkbox"]:checked ~ .control__box img {
  opacity: 1;
}
.control input[type="checkbox"]:checked ~ .control__value {
  opacity: 1;
}
.control input:checked ~ .control__image:before {
  opacity: 1;
}
.control input:disabled ~ .control__box {
  background-color: #f5f5f5;
  border-color: rgba(183,182,199,0.5);
}
.control:hover .control__box,
label:hover .control__box {
  background-color: #fbfbfb;
}
.control__value {
  display: inline-block;
  margin-left: 8px;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s, 0.2s, 0.2s;
  transition: opacity 0.2s, 0.2s, 0.2s;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
}
.control__value-text {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  font-family: "Proxima Nova";
  padding: 2px 0 0 2px;
}
