@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.greyline {
  width: 2px;
  height: 0px;
  background-color: rgba(216,216,216,0.1);
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.blueline {
  width: 2px;
  height: 0px;
  background-color: #3b7eff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fd933b;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .orangecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .orangecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.orangeline {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.control-label {
  display: block;
  cursor: pointer;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.control-label__input,
.control-label__value {
  vertical-align: middle;
}
.control-label__input {
  padding-right: 10px;
  width: 100%;
}
.control-label__value-text,
.control-label__value-rouble {
  display: inline-block;
  vertical-align: top;
}
.control-label__value-text {
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  font-family: "Proxima Nova";
  padding: 2px 0 0 2px;
}
.control-label__value-rouble {
  font-size: 22px;
  line-height: 22px;
  color: #b7b6c7;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .control-label__value-rouble {
    margin-right: 4px;
  }
}
@media only screen and (max-width: 767px) {
  .control-label__value-rouble {
    margin-right: 6px;
  }
}
