@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header {
  display: block;
  position: relative;
  background: url("../img/back-header-main.png");
  height: 405px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header__title {
  display: inline-block;
  padding: 7px 20px 5px;
  vertical-align: top;
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.29);
  margin-top: 134px;
  font-weight: lighter;
}
