@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.input {
  border: none;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  -webkit-transition: border-color 0.2s, 0.2s, 0.2s;
  transition: border-color 0.2s, 0.2s, 0.2s;
  background-color: #fff;
}
.input + .input {
  margin-top: 15px;
}
.input input,
.input textarea {
  display: block;
  border: none;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  outline: none;
  padding: 0 15px;
  z-index: 1;
  border-radius: 2px;
}
@media only screen and (min-width: 768px) {
  .input input,
  .input textarea {
    font-size: 18px;
    border-top: 25px solid #fff;
    line-height: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .input input,
  .input textarea {
    font-size: 16px;
    border-top: 21px solid #fff;
    line-height: 20px;
  }
}
.input input::-ms-clear,
.input textarea::-ms-clear {
  display: none;
}
.input input:-webkit-autofill,
.input textarea:-webkit-autofill {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background: none;
}
.input input:focus,
.input textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #f78200;
          box-shadow: 0 0 0 2px #f78200;
}
@media only screen and (min-width: 768px) {
  .input input:focus ~ .input__placeholder,
  .input textarea:focus ~ .input__placeholder {
    font-size: 14px;
    line-height: 14px;
    top: 0;
    padding-top: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .input input:focus ~ .input__placeholder,
  .input textarea:focus ~ .input__placeholder {
    font-size: 13px;
    line-height: 13px;
    top: 0;
    padding-top: 9px;
  }
}
@media only screen and (min-width: 768px) {
  .input input {
    height: 60px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .input input {
    height: 50px;
    padding-bottom: 13px;
  }
}
.input textarea {
  border-bottom: 20px solid #fff;
  resize: vertical;
  max-height: 600px;
}
.input textarea[rows="1"] {
  resize: none;
}
@media only screen and (min-width: 768px) {
  .input textarea[rows="1"] {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 767px) {
  .input textarea[rows="1"] {
    height: 84px;
  }
}
.input__placeholder {
  font-family: 'Proxima Nova';
  color: #999;
  position: absolute;
  -webkit-transition: all 0.2s, 0.2s, 0.2s;
  transition: all 0.2s, 0.2s, 0.2s;
  left: 15px;
  z-index: 1;
  background: #fff;
}
@media only screen and (min-width: 768px) {
  .input__placeholder {
    font-size: 18px;
    line-height: 24px;
    top: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .input__placeholder {
    font-size: 16px;
    line-height: 20px;
    top: 15px;
  }
}
.input__placeholder.active {
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .input__placeholder.active {
    font-size: 14px;
    line-height: 14px;
    top: 0;
    padding-top: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .input__placeholder.active {
    font-size: 13px;
    line-height: 13px;
    top: 0;
    padding-top: 9px;
  }
}
.input__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  white-space: nowrap;
  text-align: center;
  z-index: 3;
  color: #3e3f55;
}
.input__icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.input__icon .ico.-input__name {
  width: 33px;
  height: 18px;
}
.input__icon .ico.-input__phone {
  width: 18px;
  height: 17px;
}
.input__icon .ico.-input__email {
  width: 17px;
  height: 12px;
}
.input__icon .ico.-input__location {
  width: 11px;
  height: 17px;
}
.input__icon .ico.-input__time {
  width: 19px;
  height: 19px;
  opacity: 0.75;
}
.input__icon .ico.-input__skype {
  width: 18px;
  height: 19px;
  opacity: 0.75;
}
.input__icon ~ input {
  padding-left: 41px;
}
.input__status .ico,
.input__error {
  display: none;
}
.input__status {
  position: absolute;
  top: 10px;
  right: 10px;
}
.input__status .ico {
  width: 22px;
  height: 22px;
}
.input__status .ico.-input__success {
  color: #00a161;
}
.input__status .ico.-input__error {
  color: #d0011b;
}
.input__error {
  color: #d0011b;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.input.-error input,
.input.-success input,
.input.-error textarea,
.input.-success textarea {
  padding-right: 40px;
}
.input.-error .ico.-input__error {
  display: block;
}
.input.-error .input__error {
  display: block;
}
.input.-success .ico.-input__success {
  display: block;
}
.input.-disabled {
  pointer-events: none;
  background-color: #f5f5f5;
}
.input__add {
  background: #2ca5fe;
  border-radius: 2px;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  font-family: "Proxima Nova";
  cursor: pointer;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .input__add {
    width: 60px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .input__add {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
  }
}
