@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-page .header {
  background-image: url("../img/main-page-header.png");
  background-size: cover;
  background-position: top;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .main-page .header {
    min-height: 900px;
  }
}
.main-page .header__content {
  max-width: 772px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 273px;
}
