@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.vacancy .header {
  background-color: #212b41;
  line-height: 0;
}
@media only screen and (min-width: 768px) {
  .vacancy .header {
    min-height: 310px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header {
    min-height: 174px;
    padding: 0 20px;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy .header__content {
  max-width: 772px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .vacancy .header__content {
    padding-top: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header__content {
    padding-top: 103px;
  }
}
.vacancy .header__content h1 {
  text-transform: uppercase;
  margin: 0px;
}
@media only screen and (min-width: 768px) {
  .vacancy__list {
    padding-top: 46px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list {
    padding-top: 30px;
  }
}
.vacancy__list .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy__list .blueline {
    top: -76px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .blueline {
    top: -50px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__list .blueline.active {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .blueline.active {
    height: 40px;
  }
}
.vacancy__list .greycircle {
  position: absolute;
  background: #ebebeb;
}
@media only screen and (min-width: 768px) {
  .vacancy__list .greycircle {
    top: -155px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .greycircle {
    top: -108px;
    right: 20px;
  }
}
.vacancy__list .greycircle:before {
  background: transparent;
  border: 2px solid #ebebeb;
}
@media only screen and (min-width: 768px) {
  .vacancy__list .greycircle:before {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .greycircle:before {
    width: 6px;
    height: 6px;
    top: auto;
    bottom: -10px;
    left: -4px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__list .greycircle.active {
    height: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .greycircle.active {
    height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__list-title {
  line-height: 30px;
  color: rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
  .vacancy__list-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.vacancy__list h2 {
  text-transform: uppercase;
  color: #000;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .vacancy__list h2 {
    font-size: 18px;
    line-height: 32px;
  }
}
.vacancy__list h2 .smile {
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .vacancy__list h2 .smile {
    font-size: 54px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list h2 .smile {
    font-size: 24px;
  }
}
.vacancy__list-item {
  display: block;
  color: #000;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #eee;
}
@media only screen and (min-width: 768px) {
  .vacancy__list-item {
    height: 129px;
    line-height: 129px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list-item {
    height: 51px;
    line-height: 51px;
    font-size: 18px;
  }
}
.vacancy__list-item + .vacancy__list-item {
  border-top: none;
}
.vacancy__list-item:hover {
  color: #3b7eff;
  text-decoration: none;
}
.vacancy__list-empty {
  max-width: 750px;
  padding-top: 30px;
  margin-top: 30px;
  color: #000;
  border-top: 1px solid #eee;
/*& ~ *
        color #7F7F7F*/
}
@media only screen and (min-width: 768px) {
  .vacancy__list-empty {
    font-size: 24px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list-empty {
    font-size: 18px;
    line-height: 32px;
  }
}
.vacancy__list-empty a {
  color: #3c7fff;
}
.vacancy__talants {
  color: #000;
  position: relative;
  font-size: 0;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__talants-text {
  font-family: "Proxima Nova";
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-text {
    font-size: 18px;
    line-height: 28px;
    max-width: 516px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.vacancy__talants-text p + p {
  padding-top: 28px;
}
.vacancy__talants-benefits-item {
  position: relative;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-benefits-item {
    padding: 27.5px 0 27.5px 100px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-benefits-item {
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .vacancy__talants-benefits-item:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-benefits-item img {
    position: absolute;
    left: 0;
    bottom: 19px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-benefits-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.vacancy__talants-benefits-item:first-child img {
  left: -10px;
}
.vacancy__talants-about {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-about {
    width: 51.23%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-about {
    width: 100%;
  }
}
.vacancy__talants-about h2 {
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-about h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-about h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}
.vacancy__talants-sliders {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders {
    width: 48.77%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders {
    width: 100%;
    margin-top: 50px;
  }
}
.vacancy__talants-sliders .greyline {
  position: absolute;
  left: 50%;
  z-index: 3;
  background: rgba(216,216,216,0.5);
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders .greyline {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .greyline {
    top: -25px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .greyline.active {
    height: 50px;
  }
}
.vacancy__talants-sliders .orangecircle {
  position: absolute;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders .orangecircle {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .orangecircle {
    top: -19px;
    right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .orangecircle.active {
    height: 71px;
  }
}
.vacancy__talants-slider {
  display: block;
  width: 100%;
  max-width: 556px;
  height: 0;
  padding-bottom: 129.5%;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider {
    margin-top: 102px;
    margin-right: -20%;
    padding-right: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider {
    margin: 0 auto;
  }
}
.vacancy__talants-slider .swiper-wrapper {
  width: 100%;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide {
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  opacity: 0;
/*попытка унять мерцание*/
/*&.swiper-slide-prev
            z-index: 1;
            opacity: 0;
            &:before
            &:after
              opacity: 0;
              transform: translateX(0) scale(.89);
            img 
              opacity: 0;
              transform: translateX(0) scale(.89);  */
/*&.swiper-slide-next
            z-index 1
            +a($m)
              opacity 1 !important
            +b($m)
              opacity 0
            &:before
            &:after
              opacity .15 
              +a($m)
                transform translateX(14.5%) scale(.89) translateY(-9px)
              +b($m)
                transform translateX(14.5%) scale(.846) translateY(3%)
            &:after
              opacity 1
            img 
              opacity 0.2
              +a($m)
                transform translateX(14.5%) scale(.89) translateY(-9px)
              +b($m)
                transform translateX(14.5%) scale(.846) translateY(3%)
          */
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 129.5%;
  border-radius: 10px;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  z-index: 1;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide:before {
  content: '';
  display: block;
  max-width: 556px;
  width: 100%;
  height: 0;
  padding-bottom: 129.5%;
  border-radius: 10px;
  background-color: #1f2d4f;
  opacity: 0;
  background-image: -webkit-linear-gradient(29deg, #1b253b 1%, #2d374d 100%);
  background-image: linear-gradient(61deg, #1b253b 1%, #2d374d 100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  z-index: 3;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide img {
  position: relative;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide:before,
  .vacancy__talants-slider .swiper-wrapper .swiper-slide:after {
    -webkit-transform: translateX(14.5%) scale(0.89) translateY(-9px);
        -ms-transform: translateX(14.5%) scale(0.89) translateY(-9px);
            transform: translateX(14.5%) scale(0.89) translateY(-9px);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide:before,
  .vacancy__talants-slider .swiper-wrapper .swiper-slide:after {
    -webkit-transform: translateX(14.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(14.5%) scale(0.846) translateY(3%);
            transform: translateX(14.5%) scale(0.846) translateY(3%);
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide img {
    -webkit-transform: translateX(14.5%) scale(0.89) translateY(-9px);
        -ms-transform: translateX(14.5%) scale(0.89) translateY(-9px);
            transform: translateX(14.5%) scale(0.89) translateY(-9px);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide img {
    -webkit-transform: translateX(14.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(14.5%) scale(0.846) translateY(3%);
            transform: translateX(14.5%) scale(0.846) translateY(3%);
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-prev {
  z-index: 1;
  opacity: 0;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-prev:before,
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-prev:after {
  opacity: 0;
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-prev img {
  opacity: 0;
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next {
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next {
    opacity: 1;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next {
    opacity: 0;
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:before,
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:after {
  opacity: 0.15;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:before,
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:after {
    -webkit-transform: translateX(14.5%) scale(0.89) translateY(-9px);
        -ms-transform: translateX(14.5%) scale(0.89) translateY(-9px);
            transform: translateX(14.5%) scale(0.89) translateY(-9px);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:before,
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:after {
    -webkit-transform: translateX(14.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(14.5%) scale(0.846) translateY(3%);
            transform: translateX(14.5%) scale(0.846) translateY(3%);
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next:after {
  opacity: 1;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next img {
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next img {
    -webkit-transform: translateX(14.5%) scale(0.89) translateY(-9px);
        -ms-transform: translateX(14.5%) scale(0.89) translateY(-9px);
            transform: translateX(14.5%) scale(0.89) translateY(-9px);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-next img {
    -webkit-transform: translateX(14.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(14.5%) scale(0.846) translateY(3%);
            transform: translateX(14.5%) scale(0.846) translateY(3%);
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active {
  z-index: 2;
  opacity: 1;
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active:before {
  opacity: 0.75;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active:before {
    -webkit-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active:before {
    -webkit-transform: translateX(0) scale(1) translateY(0);
        -ms-transform: translateX(0) scale(1) translateY(0);
            transform: translateX(0) scale(1) translateY(0);
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active img {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active img {
    -webkit-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active img {
    -webkit-transform: translateX(0) scale(1) translateY(0);
        -ms-transform: translateX(0) scale(1) translateY(0);
            transform: translateX(0) scale(1) translateY(0);
  }
}
.vacancy__talants-slider .swiper-wrapper .swiper-slide.swiper-slide-active span {
  display: block;
}
.vacancy__require {
  color: #000;
  margin-top: 120px;
}
@media only screen and (min-width: 768px) {
  .vacancy__require {
    margin-bottom: 64px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__require h2 {
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .vacancy__require h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require h2 {
    margin-bottom: 20px;
  }
}
.vacancy__require p {
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 768px) {
  .vacancy__require p {
    line-height: 28px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require p {
    line-height: 24px;
    font-size: 16px;
  }
}
.vacancy__require .greyline {
  position: absolute;
  left: 50%;
  z-index: 3;
  background: rgba(216,216,216,0.5);
}
@media only screen and (min-width: 768px) {
  .vacancy__require .greyline {
    top: -79px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require .greyline {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__require .greyline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require .greyline.active {
    height: 50px;
  }
}
.vacancy__require-list {
  font-size: 0;
  counter-reset: div;
}
@media only screen and (min-width: 768px) {
  .vacancy__require-list {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require-list {
    margin-top: 20px;
  }
}
.vacancy__require-list-item {
  display: inline-block;
  line-height: 32px;
  font-size: 18px;
  font-family: "Proxima Nova";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .vacancy__require-list-item {
    width: calc(100% / 3);
    font-size: 18px;
    padding: 14px 10px 14px 80px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require-list-item {
    font-size: 16px;
    width: 100%;
    padding: 0 0 0 45px;
    margin-bottom: 20px;
  }
  .vacancy__require-list-item:last-child {
    margin-bottom: 0;
  }
}
.vacancy__require-list-item:before {
  content: counter(div);
  counter-increment: div;
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #f78200;
  color: #000;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
@media only screen and (min-width: 768px) {
  .vacancy__require-list-item:before {
    height: 60px;
    width: 60px;
    font-size: 16px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require-list-item:before {
    height: 30px;
    width: 30px;
    font-size: 12px;
    line-height: 26px;
  }
}
.vacancy__changes {
  background-image: url("../img/bottom_bg.png");
  background-size: cover;
  background-position: top;
  background-color: #fff;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes {
    min-height: 800px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes {
    min-height: 480px;
    padding: 0 20px;
  }
}
.vacancy__changes:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/top_tongue.svg");
  background-size: 100%;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes:before {
    width: 346px;
    height: 71px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes:before {
    width: 182px;
    height: 37px;
  }
}
.vacancy__changes:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/bottom_tongue.svg");
  background-size: 100%;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes:after {
    width: 483px;
    height: 113px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes:after {
    width: 208px;
    height: 43px;
  }
}
.vacancy__changes .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .blueline {
    top: -20px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .blueline {
    top: -10px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .blueline.active {
    height: 280px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .blueline.active {
    height: 140px;
  }
}
.vacancy__changes .greyline {
  position: absolute;
  left: 50%;
  background: rgba(216,216,216,0.1);
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .greyline {
    top: -78px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .greyline {
    top: -20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .greyline.active {
    height: 219px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .greyline.active {
    height: 40px;
  }
}
.vacancy__changes .orangeline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .orangeline {
    top: -40px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .orangeline {
    top: -37px;
    right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .orangeline.active {
    height: 204px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .orangeline.active {
    height: 71px;
  }
}
.vacancy__changes .container {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes .container {
    min-height: 800px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes .container {
    min-height: 480px;
  }
}
.vacancy__changes-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .vacancy__changes-title {
    font-size: 40px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes-title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__changes-title span {
    font-size: 72px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__changes-title span {
    font-size: 41px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy .backurl {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .backurl {
    display: block;
  }
}
.vacancy__about {
  color: #000;
}
@media only screen and (min-width: 768px) {
  .vacancy__about {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__about .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy__about .blueline {
    top: -90px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .blueline {
    top: -50px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__about .blueline.active {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .blueline.active {
    height: 40px;
  }
}
.vacancy__about .greycircle {
  position: absolute;
  background: #ebebeb;
}
@media only screen and (min-width: 768px) {
  .vacancy__about .greycircle {
    top: -188px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .greycircle {
    top: -108px;
    right: 20px;
  }
}
.vacancy__about .greycircle:before {
  background: transparent;
  border: 2px solid #ebebeb;
}
@media only screen and (min-width: 768px) {
  .vacancy__about .greycircle:before {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .greycircle:before {
    width: 6px;
    height: 6px;
    top: auto;
    bottom: -10px;
    left: -4px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__about .greycircle.active {
    height: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about .greycircle.active {
    height: 90px;
  }
}
.vacancy__about-text {
  font-size: 18px;
  line-height: 28px;
  max-width: 766px;
  font-family: "Proxima Nova";
}
@media only screen and (min-width: 768px) {
  .vacancy__about-text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list {
    margin-top: 50px;
  }
}
.vacancy__about-list .greyline {
  position: absolute;
  left: 50%;
  z-index: 3;
  background: rgba(216,216,216,0.5);
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list .greyline {
    top: -86px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list .greyline {
    top: -44px;
    left: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list .greyline.active {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list .greyline.active {
    height: 30px;
  }
}
.vacancy__about-list .bluecircle {
  position: absolute;
  z-index: 3;
  right: 0px;
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list .bluecircle {
    top: -183px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list .bluecircle {
    top: -98px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list .bluecircle.active {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list .bluecircle.active {
    height: 100px;
  }
}
.vacancy__about-list h2 {
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list h2 {
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list h2 {
    margin-bottom: 20px;
  }
}
.vacancy__about-list-items {
  display: block;
}
@media only screen and (min-width: 1199px) {
  .vacancy__about-list-items {
    margin-left: -30px;
  }
}
@media only screen and (max-width: 1198px) {
  .vacancy__about-list-items {
    margin-left: 0;
  }
}
.vacancy__about-list-item {
  display: block;
  max-width: 750px;
  border-top: 1px solid rgba(216,216,216,0.5);
  font-family: "Proxima Nova";
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list-item {
    font-size: 18px;
    line-height: 40px;
    margin-left: 30px;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list-item {
    font-size: 16px;
    line-height: 24px;
    margin-left: 22px;
    padding: 6px 0;
  }
}
.vacancy__about-list-item:first-child {
  border: none;
}
.vacancy__about-list-item:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #212b41;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: block;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .vacancy__about-list-item:before {
    top: 24px;
    left: -31.5px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__about-list-item:before {
    top: 11px;
    left: -24.5px;
  }
}
