@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.vacancy .header {
  background-color: #212b41;
}
@media only screen and (min-width: 768px) {
  .vacancy .header {
    min-height: 310px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header {
    min-height: 174px;
    padding: 0 20px;
  }
}
.vacancy .header__content {
  max-width: 772px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .vacancy .header__content {
    padding-top: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header__content {
    padding-top: 96px;
  }
}
.vacancy .header__content h1 {
  text-transform: uppercase;
  margin: 0px;
}
.vacancy .header .greyline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy .header .greyline {
    top: 270px;
    background: rgba(216,216,216,0.1);
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header .greyline {
    top: 155px;
    background: #3b7eff;
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy .header .greyline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header .greyline.active {
    height: 40px;
  }
}
.vacancy .header .greycircle {
  position: absolute;
  background: #ebebeb;
}
@media only screen and (min-width: 1199px) {
  .vacancy .header .greycircle {
    top: 201px;
    right: -95px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198px) {
  .vacancy .header .greycircle {
    top: 201px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header .greycircle {
    top: 96px;
    right: 0;
  }
}
.vacancy .header .greycircle:before {
  background: transparent;
  border: 2px solid #ebebeb;
}
@media only screen and (min-width: 768px) {
  .vacancy .header .greycircle:before {
    width: 12px;
    height: 12px;
    top: auto;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header .greycircle:before {
    width: 6px;
    height: 6px;
    top: auto;
    bottom: -10px;
    left: -4px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy .header .greycircle.active {
    height: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .header .greycircle.active {
    height: 90px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__list {
    padding-top: 46px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__list-title {
  line-height: 30px;
  color: rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
  .vacancy__list-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.vacancy__list-item {
  display: block;
  color: #000;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #eee;
}
@media only screen and (min-width: 768px) {
  .vacancy__list-item {
    height: 129px;
    line-height: 129px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__list-item {
    height: 51px;
    line-height: 51px;
    font-size: 18px;
  }
}
.vacancy__list-item + .vacancy__list-item {
  border-top: none;
}
.vacancy__list-item:hover {
  color: #3b7eff;
  text-decoration: none;
}
.vacancy__talants {
  color: #000;
  position: relative;
  font-size: 0;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants .container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy__talants h2 {
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}
.vacancy__talants-text {
  font-family: "Proxima Nova";
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-text {
    font-size: 18px;
    line-height: 28px;
    max-width: 516px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.vacancy__talants-text p + p {
  padding-top: 28px;
}
.vacancy__talants-benefits-item {
  position: relative;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-benefits-item {
    padding: 27.5px 0 27.5px 100px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-benefits-item {
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .vacancy__talants-benefits-item:last-child {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-benefits-item img {
    position: absolute;
    left: 0;
    bottom: 19px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-benefits-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.vacancy__talants-benefits-item:first-child img {
  left: -10px;
}
.vacancy__talants-about {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-about {
    width: 51.23%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-about {
    width: 100%;
  }
}
.vacancy__talants-sliders {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders {
    width: 48.77%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders {
    width: 100%;
    margin-top: 50px;
  }
}
.vacancy__talants-sliders .greyline {
  position: absolute;
  left: 50%;
  z-index: 3;
  background: rgba(216,216,216,0.5);
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders .greyline {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .greyline {
    top: -25px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .greyline.active {
    height: 50px;
  }
}
.vacancy__talants-sliders .orangecircle {
  position: absolute;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-sliders .orangecircle {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .orangecircle {
    top: -19px;
    right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-sliders .orangecircle.active {
    height: 71px;
  }
}
.vacancy__talants-slider {
  display: block;
  width: 100%;
  max-width: 556px;
  height: 0;
  padding-bottom: 129.5%;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .vacancy__talants-slider {
    margin-top: 102px;
    margin-right: -20%;
    padding-right: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__talants-slider {
    margin: 0 auto;
  }
}
.vacancy .swiper-wrapper {
  width: 100%;
}
.vacancy .swiper-wrapper .swiper-slide {
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  border-radius: 10px;
  position: relative;
  width: 100%;
  opacity: 0;
}
.vacancy .swiper-wrapper .swiper-slide:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 129.5%;
  border-radius: 10px;
  background: #1f2d4f;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  z-index: 3;
}
.vacancy .swiper-wrapper .swiper-slide:before {
  content: '';
  display: block;
  max-width: 556px;
  width: 100%;
  height: 0;
  padding-bottom: 129.5%;
  border-radius: 10px;
  background: #1f2d4f;
  opacity: 0;
  background-image: -webkit-linear-gradient(29deg, #141414 1%, #4a4a4a 100%);
  background-image: linear-gradient(61deg, #141414 1%, #4a4a4a 100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  z-index: 3;
}
.vacancy .swiper-wrapper .swiper-slide img {
  position: relative;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .vacancy .swiper-wrapper .swiper-slide img {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .swiper-wrapper .swiper-slide img {
    border-radius: 6px;
  }
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-prev {
  z-index: 1;
  opacity: 0;
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-prev:before,
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-prev:after {
  opacity: 0;
  -webkit-transform: translateX(8%) scale(0.89);
      -ms-transform: translateX(8%) scale(0.89);
          transform: translateX(8%) scale(0.89);
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-prev img {
  opacity: 0;
  -webkit-transform: translateX(8%) scale(0.89);
      -ms-transform: translateX(8%) scale(0.89);
          transform: translateX(8%) scale(0.89);
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-next {
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next {
    opacity: 0.3;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next {
    opacity: 0;
  }
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:before,
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:after {
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:before,
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:after {
    -webkit-transform: translateX(-85.5%) scale(0.89);
        -ms-transform: translateX(-85.5%) scale(0.89);
            transform: translateX(-85.5%) scale(0.89);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:before,
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next:after {
    -webkit-transform: translateX(-85.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(-85.5%) scale(0.846) translateY(3%);
            transform: translateX(-85.5%) scale(0.846) translateY(3%);
  }
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-next img {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next img {
    -webkit-transform: translateX(-85.5%) scale(0.89);
        -ms-transform: translateX(-85.5%) scale(0.89);
            transform: translateX(-85.5%) scale(0.89);
  }
}
@media only screen and (max-width: 767px) {
  .vacancy .swiper-wrapper .swiper-slide.swiper-slide-next img {
    -webkit-transform: translateX(-85.5%) scale(0.846) translateY(3%);
        -ms-transform: translateX(-85.5%) scale(0.846) translateY(3%);
            transform: translateX(-85.5%) scale(0.846) translateY(3%);
  }
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-active {
  z-index: 2;
  opacity: 1;
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-active:before,
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-active:after {
  opacity: 0.5;
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-active img {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
      -ms-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}
.vacancy .swiper-wrapper .swiper-slide.swiper-slide-active span {
  display: block;
}
.vacancy__require {
  color: #000;
  margin-top: 120px;
}
.vacancy__require h2 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.vacancy__require p {
  line-height: 28px;
  font-size: 18px;
  font-family: "Proxima Nova";
}
.vacancy__require .greyline {
  position: absolute;
  left: 50%;
  z-index: 3;
  background: rgba(216,216,216,0.5);
}
@media only screen and (min-width: 768px) {
  .vacancy__require .greyline {
    top: -79px;
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require .greyline {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy__require .greyline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy__require .greyline.active {
    height: 50px;
  }
}
.vacancy__require-list {
  margin-top: 40px;
  font-size: 0;
}
.vacancy__require-list-item {
  width: calc(100% / 3);
  display: inline-block;
  line-height: 32px;
  font-size: 18px;
  font-family: "Proxima Nova";
}
