@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.vacancy-form {
  background-repeat: no-repeat;
  background-color: #1f2637;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .vacancy-form {
    margin-top: 120px;
    background-image: url("../img/form-back_dark.svg");
    background-position: center 362px;
    background-size: 875px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form {
    margin-top: 50px;
    background-image: url("../img/form-back_m.svg");
    background-position: right 358px;
    background-size: 286px;
  }
}
.vacancy-form .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .vacancy-form .container {
    padding-top: 98px;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .container {
    padding: 40px 20px 0;
  }
}
.vacancy-form__title {
  text-transform: uppercase;
  max-width: 675px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .vacancy-form__title {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form__title {
    text-align: left;
  }
}
.vacancy-form__title span {
  color: #536286;
  width: 100%;
  display: block;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  .vacancy-form__title span {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form__title span {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
}
.vacancy-form__subtitle {
  font-family: "Proxima Nova";
  color: #fff;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .vacancy-form__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
  .vacancy-form__subtitle p {
    margin-top: 20px;
  }
}
.vacancy-form__subtitle span {
  color: #536286;
  width: 100%;
  display: block;
  font-weight: normal;
}
.vacancy-form__form {
  display: block;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(134deg, #144fc0 0%, #2ca7ff 100%);
  background-image: linear-gradient(-44deg, #144fc0 0%, #2ca7ff 100%);
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .vacancy-form__form {
    max-width: 590px;
    border-radius: 10px;
    padding: 34px 0 61px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form__form {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
    padding: 30px 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.vacancy-form__form-legend,
.vacancy-form__form form {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .vacancy-form__form-legend,
  .vacancy-form__form form {
    max-width: 380px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form__form-legend,
  .vacancy-form__form form {
    width: 100%;
  }
}
.vacancy-form__form-legend {
  font-family: "Proxima Nova";
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .vacancy-form__form-legend {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy-form .control-label {
    margin-top: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .control-label {
    margin-top: 20px;
  }
}
.vacancy-form .form__button {
  border: none;
  background-color: #f78200;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Proxima Nova";
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .vacancy-form .form__button {
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    padding: 0 40px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15px;
    line-height: 46px;
    height: 50px;
    margin-top: 20px;
  }
}
.vacancy-form .form__button:hover {
  background-color: #ff8e11;
  text-decoration: none;
}
.vacancy-form .blueline {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy-form .blueline {
    top: -37px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .blueline {
    top: -25px;
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy-form .blueline.active {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .blueline.active {
    height: 60px;
  }
}
.vacancy-form .orangecircle {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .vacancy-form .orangecircle {
    top: -186px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .orangecircle {
    top: -63px;
    right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .vacancy-form .orangecircle.active {
    height: 360px;
  }
}
@media only screen and (max-width: 767px) {
  .vacancy-form .orangecircle.active {
    height: 100px;
  }
}
