@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.wild .header {
  background-image: url("../img/wild/bg.png");
}
.wild .header__title {
  margin-top: 165px;
  letter-spacing: 0.2px;
  padding: 13px 63px 10px;
  background: rgba(0,0,0,0.6);
}
.wild .goods-menu {
  background: #0cf;
}
