extends /layout
include /audit-form

block main
  .about
    section.header(data-aos="fade-in")
      .container
        .header__content(data-aos="fade-in" data-aos-delay="700")
          h1 О нас
          .header__about
            .header__about-item 
              img(src="img/about-item_1.svg")
              span Мы специализируемся#[br]на поисковом продвижении
            .header__about-item
              img(src="img/about-item_2.svg")
              span В работе мы используем#[br]проектный подход
            .header__about-item  
              img(src="img/about-item_3.svg")
              span На текущий момент #[br.hidden-above-m]более #[br.hidden-below-m]150 проектов в продвижении
    section.about__people
      .svg-masks
        svg.svg(width='299', height='309')
          defs
            path#path-1(d='M0,166 L0,130 C-1.41093417e-12,79.1178482 28.7238831,33.1039789 74,11 C119.49496,-11.1340676 174.249285,0.862675903 206,40 L275,124 C306.15333,161.763058 307.048281,216.173393 277,255 C247.719487,293.614306 199.897083,313.323329 151,307 L119,302 C50.5455422,292.875116 2.96296176e-12,234.818408 0,166 Z')
          
          mask#mask-1(fill='#ffffff')
            use(xlink:href='#path-1')
          mask#mask-2(fill='#ffffff')
            use(xlink:href='#path-1' transform='translate(149.500000, 154.000000) scale(-1, -1) translate(-149.500000, -154.000000)')
          mask#mask-3(fill='#ffffff')
            use(xlink:href='#path-1'  transform="translate(149.500000, 154.000000) scale(-1, 1) translate(-149.500000, -154.000000)")

        svg.svg(width='60', height='62')
          defs
            path#path-2(d="M0,33.3110368 L0,26.0869565 C-2.83130603e-13,15.8764913 5.76398991,6.64293892 14.8494983,2.20735786 C23.9789217,-2.23426105 34.9664117,0.173112221 41.3377926,8.02675585 L55.1839465,24.8829431 C61.4354509,32.4608143 61.6150397,43.3792762 55.5852843,51.1705686 C49.7095961,58.9192588 40.1131271,62.8742466 30.3010033,61.6053512 L23.8795987,60.6020067 C10.1429182,58.7709263 5.94574266e-13,47.1207507 0,33.3110368 Z")
          g
            mask#mask-4(fill='#ffffff')
              use(xlink:href='#path-2')
      .container    
        .blueline(data-aos="fade-in" data-aos-anchor=".about__people")
        .greyline(data-aos="fade-in" data-aos-anchor=".about__people")
        .orangecircle(data-aos="fade-in" data-aos-anchor=".about__people")
        .about__people-content(data-aos="fade-in"  data-aos-delay="500")
          h2 Проектные группы
          .about__people-list 
            .about__people-list-item(data-aos="fade-in"  data-aos-delay="500")
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_1.png' width='299' height='309')
              .about__people-list-item-name Анна Рублева
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_11.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in"  data-aos-delay="500")  
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_2.png' width='299' height='309')
              .about__people-list-item-name Владислав Горевой
              .about__people-list-item-job Крупные интернет-магазины, #[br]Агрегаторы
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item.-active
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_12.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
                .about__people-list-item-assistents-item.-hidden
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_13.png' width='60' height='61')
                  .about__people-list-item-assistents-name Михаил Заболецкий
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in"  data-aos-delay="500")  
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_3.png' width='299' height='309')
              .about__people-list-item-name Иван Полищук
              .about__people-list-item-job Информационные порталы, #[br]B2B сервисы
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_4.png' width='299' height='309')
              .about__people-list-item-name Анастасия Новосартова
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_5.png' width='299' height='309')
              .about__people-list-item-name Иннокентий Суворов
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_6.png' width='299' height='309')
              .about__people-list-item-name Евгений Фет
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_7.png' width='299' height='309')
              .about__people-list-item-name Анна Рублева
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_8.png' width='299' height='309')
              .about__people-list-item-name Анна Рублева
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_9.png' width='299' height='309')
              .about__people-list-item-name Анна Рублева
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
              .about__people-list-item-assistents
                .about__people-list-item-assistents-item
                  .about__people-list-item-assistents-img
                    svg.svg  
                      g(mask='url(#mask-4)')
                        image(xlink:href='temp/people_10.png' width='60' height='61')
                  .about__people-list-item-assistents-name Егор Кришнидзе
                  .about__people-list-item-assistents-job Ассистент

          h2 Отдел аналитики и контроля качества
          .about__people-list 
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_5.png' width='299' height='309')
              .about__people-list-item-name Иннокентий Суворов
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании  
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_4.png' width='299' height='309')
              .about__people-list-item-name Анастасия Новосартова
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании            
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_6.png' width='299' height='309')
              .about__people-list-item-name Евгений Фет
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
          h2 Редакция
          .about__people-list 
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_10.png' width='299' height='309')
              .about__people-list-item-name Иннокентий Суворов
              .about__people-list-item-job Главный редактор 
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_11.png' width='299' height='309')
              .about__people-list-item-name Анастасия Новосартова
              .about__people-list-item-job Корректор 
          h2 А так же
          .about__people-list 
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_5.png' width='299' height='309')
              .about__people-list-item-name Иннокентий Суворов
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании  
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_4.png' width='299' height='309')
              .about__people-list-item-name Анастасия Новосартова
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании            
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_6.png' width='299' height='309')
              .about__people-list-item-name Евгений Фет
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
            .about__people-list-item(data-aos="fade-in")   
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-1)')
                    image(xlink:href='temp/people_5.png' width='299' height='309')
              .about__people-list-item-name Иннокентий Суворов
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании  
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-2)')
                    image(xlink:href='temp/people_4.png' width='299' height='309')
              .about__people-list-item-name Анастасия Новосартова
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании            
            .about__people-list-item(data-aos="fade-in")    
              .about__people-list-item-img                            
                svg.svg
                  g(mask='url(#mask-3)')
                    image(xlink:href='temp/people_6.png' width='299' height='309')
              .about__people-list-item-name Евгений Фет
              .about__people-list-item-job B2B сервисы, #[br]Оптовые компании
    section.about__history
      .container
        .about__history-text         
          h2(data-aos="fade-in" data-aos-delay="500") История компании
          .about__history-quotes1(data-aos="fade-in")
          .about__history-text-block(data-aos="fade-in" data-aos-delay="500")
            p Здравствуйте. Я — Октавиан Низамов, сооснователь и генеральный директор «Иващенко и Низамов». С 2004 по 2012 годы я организовал несколько собственных бизнесов, прежде чем пришел в интернет-маркетинг. Например, один из моих ключевых проектов — «АйТи Прогресс», успешно работает с 2007 года по сегодняшний день.

            p Будучи заказчиком услуг по продвижению сайта, я понял насколько незрелым является этот рынок. Я потратил много времени и денег на попытки работать с разными подрядчиками, а также на построение собственной inhouse-студии. И хотя было приложено немало усилий, но результаты в этом направлении оставляли желать много лучшего.
          .about__history-text-block 
            .greycircle.-top(data-aos="fade-in")
            .about__history-text-title(data-aos="fade-in")
              img(src="img/meeting.svg")
              span Знакомство
            p(data-aos="fade-in") В какой-то момент мы начали работать с Владом. Его подходы к работе сильно отличались от того, что я встречал на рынке до этого. Его история, как специалиста, началась в 2005 году, когда он запустил свой первый интернет-проект. В 2007 его продал и с головой ушёл в SEO. Он успел поработать и на стороне клиента, и в разных агентствах.

            p(data-aos="fade-in") В итоге он стал работал в одиночку по своим клиентским проектам: с одной стороны, клиентов всегда хватало, так как качество его работ действительно было на высоте, но с другой стороны, он был сильно ограничен собственным временем и просто упёрся в свой «потолок».
          .about__history-text-block
            .greycircle.-middle(data-aos="fade-in")
            .about__history-text-title(data-aos="fade-in")
              img(src="img/open.svg")
              span Открытие
            p(data-aos="fade-in") Идею открытия совместного агентства мы впервые обсуждали за ланчем в KFC у метро «Рыбацкое». Нас обоих захватила идея вместе изменить этот рынок в сторону системности и прозрачности. В феврале 2013 слова перешли в дела и у нас появился первый общий клиент.

            p(data-aos="fade-in") Компанию мы назвали собственными фамилиями, подчеркивая этим нашу открытость и ответственность за свою работу. В мае открыли отдельный офис, вышли на работу первые сотрудники помимо нас двоих. Владислав привёл в компанию всех клиентов, с кем до этого работал лично. Многие из тех проектов до сих пор продвигаются в «Иващенко и Низамов».
          .about__history-text-block 
            .about__history-text-title(data-aos="fade-in")
              img(src="img/crisis.svg")
              span Кризис
            p(data-aos="fade-in") Компания стабильно росла до конца 2015 года, когда мы очень отчётливо почувствовали на себе финансовый кризис в стране. Крупные клиенты начали урезать бюджеты. Оказалось, что наши затраты раздуты во все стороны, а процессы не оптимизированы. Пришлось сильно оптимизировать буквально всё: производство, продажи, менеджмент. Тогда только в режиме ручного управления нам удалось удержать компанию на плаву. В таком же режиме мы и продолжили работу.

            p(data-aos="fade-in" data-aos-delay="500") В 2016 году мы столкнулись со следующей проблемой: портфель проектов рос, и в определенный момент мы поняли, что на самом деле не понимаем ситуацию по каждому проекту, мы переросли стадию «лампового» агентства и начинали терять контроль. У нас был главный технический специалист, Александр Свистунов, который, постепенно стал определять стратегию по всем проектам, а специалисты занимались только реализацией и не принимали ответственных решений. Система начала буксовать по двум причинам: во-первых, одному человеку банально не хватало времени, чтобы успеть принять решения по всем проектам, а во-вторых, уровень его погружения всё равно был недостаточным, и в определенных ситуациях это реально мешало успешной реализации проекта.
          .about__history-text-block
            .about__history-text-title(data-aos="fade-in")
              img(src="img/idea.svg")
              span осознание
            p(data-aos="fade-in") Тогда мы и пришли к текущей схеме работы, которая, на наш взгляд, даёт лучшие результаты. Специалисты стали не просто исполнителями, а полноценными руководителями проектов. Старший специалист в проектной группе определяет стратегию и план работ по проекту и отвечает за конечные результаты. Задачи он самостоятельно распределяет между сотрудниками своей проектной группы. Естественным образом при такой схеме выделились и специализации: кто-то из специалистов умеет и любит работать с большими интернет-магазинами, а кто-то отлично разбирается в недвижимости. Для контроля каждые две недели проводится большое совещание, где руководитель проектного отдела проверяет ход работы по проекту.

            p(data-aos="fade-in") Внедряя и развивая проектный подход, нам удалось серьёзно улучшить управляемость и результативность проектов. На текущий момент именно индивидуальный проектный подход в SEO – наше главное конкурентное преимущество. Нам удалось сформировать сильную команду, которая умеет работать там, где большинство наших конкурентов могут предложить лишь конвеерный типизированный подход, который никогда не сравнится по результативности с индивидуальным          
          .greycircle.-bottom(data-aos="fade-in")
          .about__history-quotes2(data-aos="fade-in" data-aos-delay="500")
          .about__history-autor(data-aos="fade-in" data-aos-delay="500")
            .about__history-autor-img
              img(src='temp/autor.svg')
            .about__history-autor-name Октавиан Низамов
            .about__history-autor-job Генеральный директор
    section.about__events(data-aos="fade-in")
      .container
        h2 мероприятия
        .about__events-list
          a.about__events-list-item(href="#")
            .about__events-list-item-title Optimization
            .about__events-list-item-date 20.03.2018
          a.about__events-list-item(href="#")             
            .about__events-list-item-title  BDD
            .about__events-list-item-date 04.03.2018
          a.about__events-list-item(href="#")           
            .about__events-list-item-title  Деловой Петербург
            .about__events-list-item-date 26.02.2018  
          a.about__events-list-item(href="#")           
            .about__events-list-item-title  Продвижение без пафоса
            .about__events-list-item-date 14.02.2018  
    section.about__clients
      .container
        .blueline(data-aos="fade-in"  data-aos-anchor=".about__clients")
        h2(data-aos="fade-in" data-aos-delay="700") нам доверяют
        .about__clients-list(data-aos="fade-in" data-aos-delay="700")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_1.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_2.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_3.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_4.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_5.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_6.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_7.svg")
          a.about__clients-list-item(href="#")  
            img(src="img/clients_8.svg")
    section.about__publication(data-aos="fade-in")
      .container
        .greyline(data-aos="fade-in")
        h2(data-aos="fade-in" data-aos-delay="700") Наши публикации
        .about__publication-list(data-aos="fade-in" data-aos-delay="700")
          a.about__publication-list-item(href="#")  
            img(src="img/public_1.svg")
          a.about__publication-list-item(href="#")  
            img(src="img/public_2.svg")
          a.about__publication-list-item(href="#")  
            img(src="img/public_3.svg")
          a.about__publication-list-item(href="#")  
            img(src="img/public_4.svg")
    +audit-form()              
          
  