extends /layout
include /audit-form

block main
  .article
    section.header(data-aos="fade-in")
      .container               
        .header__content(data-aos="fade-in" data-aos-delay="500")
          a.backurl(href="") блог 
          h1 Нужно ли разрабатывать #[br]стратегию развития #[br]для современного бизнеса?
    section.article__content
      .container
        .blueline(data-aos="fade-in")
        .greyline(data-aos="fade-in")
        .greycircle(data-aos="fade-in")
        .article__content-header
          .article__content-header-time
            img(src="img/clock.svg")
            | Время чтения — 9 минут
          .article__content-header-repost
            .article__content-header-repost-count.toggle(data-target=".article__content-header-repost-social") 44
            .article__content-header-repost-social
              a.twitter(href="#") 
              a.vk(href="#") 
              a.fb(href="#") 
              a.telegram(href="#")
          .article__content-header-info
            .article__content-header-date 6 Апреля 2018
            .article__content-header-autor
              .article__content-header-autor-img
                img(src="temp/people_5.png")
              | Чистяков Алексей
        .article__content-text
          .text
            p Само слово «стратегия» в российской деловой практике обросло многочисленными мифами, наиболее горячими распространителями которых являются, по нашим наблюдениям, люди, никогда стратегию не разрабатывавшие. Одна из главных претензий к стратегии бизнеса в том, что классический стратегический инструментарий сложился много лет назад, во время промышленной революции, и непригоден для нынешнего цифрового века. Постараюсь показать, что это не так.

            p Распространению идей отказа от стратегии, как управленческого инструмента, в России способствовал Нассим Таллеб со своим «черным лебедем».

            p Идея «черного лебедя», то есть непредсказуемого внешнего фактора, понравилась предпринимателям тем, что освобождает их от необходимости планировать наперед. Какой в этом смысл, если все равно произойдет что-то, к чему ты не готов?
            p Но инструментарий стратегического планирования позволяет рассчитывать плавное развитие бизнеса, при отсутствии негативных сценариев, и одновременно готовиться к рискам и непредвиденным ситуациям. Условно говоря, к «черным лебедям». Для этого в стратегическом менеджменте есть инструменты риск-менеджмента и сценарного планирования.
          .article__content-text-picture
            .article__content-text-picture-img
              img(src="temp/article-1.png")
            .article__content-text-picture-notation
              | Идею «Черного лебедя» можно сформулировать и так – события, которые радикальным образом меняют положение вещей, происходят с наименьшей долей вероятности и практически не просчитываемы заранее. Из-за этого их влияние наиболее велико
          .text
            p Но главное – современный мир меняется не только быстрее, чем раньше, но и куда более предсказуемо. Конечно, валютный кризис конца 2014 года предусмотреть было невозможно, это действительно «черный лебедь». Но таких «лебедей» в жизни обычного бизнеса не так уж и много, в основном время и силы его создателей уходят не на преодоление кризисов, а на борьбу за потребителя, за продажи, за первенство перед конкурентами. И это, с одной стороны, с каждый днем становится сложнее, с другой – мир стал глобальным не только в технологическом, но и в информационном смысле. К вашим услугам сотни (а если вы читаете на английском, тысячи) источников информации, причем бесплатных, которые позволяют составить представления о текущих потребительских и технологических трендах.

            h2 Вектор развития

            p Представить себе основные вектора развития технологического вектора нашей страны несложно, достаточно составить представление о том, что в этом смысле происходит в США или Китае, а для этого даже не нужно покидать свой офис – достаточно войти в интернет. К вашим услугам обзоры, аналитика, тренды, прогнозы – почти по любому рынку, по любому продукту.

            p Ахиллесова пята долгосрочного планирования – неспособность точно предсказать будущее. Каким будет наш рынок через три года? Каким будет наш потребитель через три года? Каким, соответственно, должен быть наш продукт через три года? Раньше предсказывать было куда сложнее, чем сейчас.
            .article__content-text-thesis
              | Неопределенность будущего не освобождает от планирования. Будущее неопределенно всегда, и всегда – примерно одинаково, что в средние века, что в xxi веке. Но менеджмент, как ни крути, это принятие решений в условиях неопределенности, у менеджера никогда и не где не бывает всей информации для принятия решений. Это часть понятия «заниматься бизнесом»
            p Российские компании чаще всего используют для управления только один план – годовой бюджет. Иные предпочитают планировать будущее короткими финансовыми «спринтами», на один квартал вперед. Но у обоих методов есть общий недостаток – они оба содержат только финансовые показатели. И потом, сравнивая план с фактом, вы тоже в лучшем случае сможете сопоставить одни финансовые показатели с другими. Но никакие финансовые показатели не ответят вам на вопрос: «Чем именно покупателям не нравится ваш продукт, и почему его продажи падают?».

            p Дополнительный недостаток годового бюджета заключается в том, что, скажем, в ноябре компания имеет план работ всего на месяц вперед. Старый год заканчивается, новый бюджет еще не начался, и порой огромные компании федерального масштаба в начале декабря четко понимают, что им предстоит делать только на двадцать дней вперед. Может, это нестрашно? Может, в эпоху всеобщего agile так и следует управлять компанией?
            .article__content-text-thesis
              | Большинство решений в бизнесе долгосрочны – хотите вы этого или нет. Купить новое кресло или нанять нового секретаря, это, разумеется, не стратегическое решение. Но такие решения должны занимать не более 10 % вашего времени
            p Набирать новую команду или обойтись старой? Расширять штат или пока подождать? Открыть представительство в Сингапуре или в Нижнем Тагиле? Купить новое оборудование или подождать итогов сезона? Все эти решения вы принимаете сейчас, а последствия их увидите в лучшем случае в следующем году. Даже решение обучать сотрудников или сэкономить на обучении не скажется на вашем бизнесе существенно в ближайший же месяц. А вот через год-другой вы можете пожалеть о своем выборе – либо порадоваться его прозорливости.
            p Конечно, просто перенести кнопку «купить» на сайте в другой угол экрана – не стратегическое решение. Но таких решений в вашей жизни, если вы бизнесмен, крайне мало. Большинство вопросов носят долгосрочный характер, и чтобы принимать по ним решения, нужен долгосрочной план. Иначе это – безответственность.
            h2 Понятие стратегии
            p Давайте взглянем на проблему стратегического менеджмента иначе. Посмотрим, что понимается под понятием «стратегия», и поразмышляем, что из этого может быть не нужно компании в стремительном современном мире.

            p Мы придерживаемся классического подхода к разработке стратегии.#[br]
              | Он подразумевает:
            ol
              li Анализ макросреды (мировой и локальной экономики, ключевых политических, социальных и экономических трендов) и прогноз ее изменений на 3–5 лет.
              li Анализ микросреды (рынка, конкурентов, потребителя) и прогноз ее изменений на 3–5 лет. Для этого анализа мы используем маркетинговые исследования, отраслевые обзоры и любые другие релевантные и достоверные источники. Для визуализации можно использовать модель 5 сил Портера или любые другие варианты, какие душа просит.
              li Анализ внутренней среды предприятия, его сильные и слабые стороны. У каждой компании своя ДНК, каждый бизнес умеет хорошо делать что-то одно, и совершенно не умеет – другое. У каждой компании накоплены свои компетенции и свой опыт, и это необходимо учесть при разработке планов. Если вы хорошо умеете печь хлеб, но слабы в логистике, стоит ли открывать направление по доставке хлеба?
              li Анализ деятельности предприятия за последние годы, поиск удачных и неудачных проектов для более точного определения сильных сторон. Анализ портфеля – портфеля проектов, продуктов, бизнесов.
              li Поиск наилучшего сочетания сильных сторон компании и возможностей внешней среды, именно там, в этой точке пересечения, рождается стратегия развития. Делается при помощи SWOT-анализа. Максимального успеха может добиться компания, использующая свои преимущества на рынке, где они наиболее востребованы.
              li Выбор базовых векторов стратегии развития: дифференциация, фокусирование или лидерство по издержкам. Выбор вариантов развития по Ансоффу.
              li Формулировка долгосрочных целей – 4–6 главных (и точно оцифрованных) ориентиров развития на 3 года.
              li Декомпозиция целей на операционный уровень. Матрица целей, переход от 4–6 макроцелей к 30–40 целям более низкого уровня
              li Составление планов: плана мероприятия (на год вперед подробно, еще на два – укрупненно), бюджетов развития, финансовой модели
              li Разработка сбалансированной системы показателей для оперативного контроля реализации стратегии. Да-да, ее мало разработать, надо еще и реализовать
            p Инструментарий стратегического менеджмента достаточно подробно описан в различной литературе. Например, в книге М. Питереф, Дж. Гэмбла, А. Д. Стрикленда III, А. Томпсон «Стратегический менеджмент. Создание конкурентного преимущества».

            p Концепция бизнес-модели ярко и убедительно описана в книга А. Остервальдера и И. Пинье «Построение бизнес-моделей».

            p Рекомендую также труды М. Портера «Конкурентная стратегия» и «Конкурентное преимущество», а также Ф. Котлера: «Стратегический менеджмент по Котлеру».

            p Можно бесплатно скачать мою книгу «Мыслить стратегически. Как разработать стратегию и сделать ее повседневной частью жизни компании» с пошаговым описанием стратегического процесса.

            p Еще раз окидывая мысленным взором получившийся список, понимаю, что из этой песни слова не выкинешь. Исключение даже одного из инструментов автоматически обесценивает весь документ, так как в подобный порядок рассуждений и решений заложена своя четкая логика: от общего к частному, от рынка и потребителя к внутренним планам и проектам.

            p Какой еще документ может увязать меняющиеся требования потребителя к качеству продукта и производственные планы? Какой еще документ может соединить воедино требования к уровню сервиса (или, скажем, к уровню запасов) с финансовыми показателями или с планами по развитию персонала? Только стратегия. И если у вас не стартап, которому позволительно делать пивоты чуть ли не раз в неделю, а серьезная компания, вам без стратегии никуда.
          .article__content-text-picture
            .article__content-text-picture-img
              img(src="temp/article-2.png")
            .article__content-text-picture-notation
              | Стратегическое планирование для бизнеса актуально всегда. Меняются только инструменты
          .text
            p Что действительно изменилось по сравнению с XX веком – это частота и скорость обновления стратегии. Раньше ее можно было разрабатывать раз в пять лет и жить по ней спокойно. Сейчас тонкие настройки приходится делать как минимум ежегодно, иногда, в крайних случаях, чаще. Но из этого отнюдь не следует, что необходимость в стратегическом планировании отпала.
    section.article__footer
      .container
        .blueline(data-aos="fade-in")
        .greyline(data-aos="fade-in")
        .orangecircle(data-aos="fade-in")
        .article__footer-info
          .article__footer-date 6 Апреля 2018
          .article__footer-autor
            .article__footer-autor-img
              img(src="temp/people_5.png")
            span Чистяков 
            span Алексей
        .article__footer-repost
          | Поделиться
          .article__footer-repost-count 44
          .article__footer-repost-social
            a.twitter(href="#") 
            a.vk(href="#") 
            a.fb(href="#") 
            a.telegram(href="#")
    section.article__readmore
      .container
        .article__readmore-title 
          h2 Читайте так же
        .article__readmore-list
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title Telegram-каналы для маркетолога: 70+ источников новостей
            .article__readmore-list-item-date 27.03.2018
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title Приложения, обложки, боты. Зачем бизнесу API «ВКонтакте»?
            .article__readmore-list-item-date 24.03.2018
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title 10 примеров провокационной рекламы в сети
            .article__readmore-list-item-date 21.03.2018
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title Анализ рынка перед запуском бизнеса: минимизируем ошибки на старте
            .article__readmore-list-item-date 18.03.2018
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title #[b Как работают алгоритмы Яндекс.Дзена: интервью с медиа-директором сервиса Даниилом Трабуном]
            .article__readmore-list-item-date 16.03.2018
          a.article__readmore-list-item(href="#")
            .article__readmore-list-item-title Полное руководство по внутренней перелинковке сайта
            .article__readmore-list-item-date 12.03.2018
    section.article__comments
      .container
        .orangeline(data-aos="fade-in")
        .article__comments-button.toggle(data-target=".article__comments-wrap") Загрузить #[.disqus-comment-count 10 комментариев]
        h2.disqus-comment-count 3 комментария
        .article__comments-wrap
          #disqus_thread
    +audit-form()                   
  