extends /layout
include /header

block main
  .main-page
    section.header(data-aos="fade-in")
      .container
        .header__content(data-aos="fade-in" data-aos-delay="700")
           h1 Индивидуальные #[br]SEO проекты для малого #[br]и среднего бизнеса
           a.header__button(href="#") Заказать бесплатный аудит сайта
        .greyline(data-aos="fade-in" data-aos-delay="700")
    section.project
      .container    
        .blueline(data-aos="fade-in" data-aos-anchor=".project")
        .greyline(data-aos="fade-in" data-aos-anchor=".project")
        .orangecircle(data-aos="fade-in" data-aos-anchor=".project")
        .project__content(data-aos="fade-in")
          h2 Проектный подход #[br]к продвижению #[span.hidden-above-m —]
          .project__content-left
            h3 Индивидуальная #[br]аналитика #[br.hidden-above-m] и планирование
            ul
              li 
                img(src="img/main-left-1.svg")
                span Типовые планы #[br.hidden-above-m]не работают
              li 
                img(src="img/main-left-2.svg")
                span Гибкая и прозрачная #[br.hidden-above-m]стоимость работ
              li 
                img(src="img/main-left-3.svg")
                span Гибкий #[br.hidden-above-m]план работ
              li 
                img(src="img/main-left-4.svg")
                span Прямой контакт #[br.hidden-above-m]со специалистом 
          .project__content-right(data-aos="fade-in" data-aos-delay="400")
            h3 Проектные #[br]команды
            ul
              li 
                img(src="img/main-right-1.svg")
                span Стабильная сработанная #[br.hidden-above-m]команда
              li 
                img(src="img/main-right-2.svg")
                span Выделенный специалист #[br.hidden-above-m]для вашего проекта
              li 
                img(src="img/main-right-3.svg")
                span Выделенная команда,#[br]которая позволяет распределить рутину
              li 
                img(src="img/main-right-4.svg")
                span Разная специализация команд
    section.influence
      .container
        .blueline(data-aos="fade-in" data-aos-anchor=".influence")
        .influence__content(data-aos="fade-in" data-aos-delay="200")
          h2 Как это влияет#[br] на сотрудников?
          .influence__photo
            img(src="img/influence-photo.png")
          .influence__content-left(data-aos="fade-in" data-aos-delay="700")
            ul
              li Интересная проектная работа, а не конвеер. 
              li У нас есть время думать над проектами. 
              li Рациональное количество проектов хватает для интенсивного развивития кадров и не влияет на качество выполняемых услуг. 
          .influence__content-right(data-aos="fade-in" data-aos-delay="700")
            ul
              li Приходят джуны и развиваются внутри компании, по итогу отпочковываются в отдельные проектные группы. 
              li Делимся внутренней экспертизой. 
              li Отдел аналитики, внутреннее обучение, аттестация. 
    section.working
      .container
        .blueline(data-aos="fade-in" data-aos-anchor=".working")
        .greyline(data-aos="fade-in" data-aos-anchor=".working")
        .orangecircle(data-aos="fade-in" data-aos-anchor=".working")
        


  