extends /layout
include /header

block main
  .main-page
    section.header(data-aos="fade-in")
      .container
        .header__content(data-aos="fade-in" data-aos-delay="700")
           h1 Индивидуальные #[br]SEO проекты для малого #[br]и среднего бизнеса
  