extends /layout
include /audit-form

block main
  .vacancy
    section.header(data-aos="fade-in")
      .container               
        .header__content(data-aos="fade-in" data-aos-delay="500")
          h1 вакансии
    section.vacancy__list(data-aos="fade-in" data-aos-delay="500")
      .container 
        .blueline(data-aos="fade-in")
        .greycircle(data-aos="fade-in")
        .vacancy__list-title Актуальные вакансии 
        a.vacancy__list-item(href="#") Стажер SEO-специалист
        a.vacancy__list-item(href="#") PHP developer 
    //Вариант блока, если вакансий нет
    section.vacancy__list(data-aos="fade-in" data-aos-delay="500")
      .container 
        .blueline.hidden(data-aos="fade-in")
        .greycircle.hidden(data-aos="fade-in")
        h2 В настоящий момент #[br]у нас нет актуальных вакансий 
          span.smile 👀
        .vacancy__list-empty
          | Если вы считаете, что подходите нам — смело присылайте ваше резюме на почту — #[a(href="mailto:jobs@ivnz.ru") jobs@ivnz.ru]
    section.vacancy__talants
      .container
        .vacancy__talants-about(data-aos="fade-in")
          h2 Ищем таланты
          .vacancy__talants-text
            p Мы всегда находимся в поиске талантов. #[br.hidden-below-m]Взгляни, возможно ты именно тот, кого мы ждали!
            p У нас есть много аргументов почему работать у нас — #[br.hidden-below-m]это хорошо ☝️  
          .vacancy__talants-benefits
            .vacancy__talants-benefits-item 
              img(src="img/benefits_1.svg")
              | Офис, полный рабочий день в Санкт-Петербурге, #[br.hidden-below-m]надо выкладываться на 200%
            .vacancy__talants-benefits-item 
              img(src="img/benefits_2.svg")
              | Полностью белая заработная плата, #[br.hidden-below-m]расширенный соц.пакет (ДМС)
            .vacancy__talants-benefits-item 
              img(src="img/benefits_3.svg")
              | Мы реально приносим пользу клиентам, #[br.hidden-below-m]а не изобретаем способы их обмана
            .vacancy__talants-benefits-item 
              img(src="img/benefits_4.svg")
              | У нас есть чему вас научить, #[br.hidden-below-m]и мы готовы этим заниматься
            .vacancy__talants-benefits-item 
              img(src="img/benefits_5.svg")
              | Мы берём адекватную оплату за свою работу #[br.hidden-below-m]и умеем ценить наших сотрудников
            .vacancy__talants-benefits-item 
              img(src="img/benefits_6.svg")
              | Небольшой, но очень сильный коллектив. #[br.hidden-below-m]Нам можно доверять
        .vacancy__talants-sliders
          .greyline(data-aos="fade-in")
          .orangecircle(data-aos="fade-in")
          .vacancy__talants-slider(data-aos="fade-in" data-aos-delay="500")
            .swiper-wrapper
              .swiper-slide 
                  img(src="temp/talant_1.png")
              .swiper-slide
                  img(src="temp/talant_2.png")
              .swiper-slide
                  img(src="temp/talant_1.png")
    section.vacancy__require(data-aos="fade-in")
      .container
        .greyline(data-aos="fade-in")
        h2 Что мы требуем?
        p У нас реально работают. От всех соискателей мы ожидаем #[br]3 следующих навыка:
        .vacancy__require-list
          .vacancy__require-list-item Привычка делать всё вовремя
          .vacancy__require-list-item Умение слушать и слышать
          .vacancy__require-list-item Умение формулировать мысль
    section.vacancy__changes(data-aos="fade-in")
      .container
        .blueline(data-aos="fade-in")
        .greyline(data-aos="fade-in")
        .orangeline(data-aos="fade-in")
        .vacancy__changes-title(data-aos="fade-in" data-aos-delay="500") Мы меняем рынок, #[br]добро пожаловать #[br.hidden-above-m]к нам на борт#[br] #[span 👐🏻]




  