mixin footer()
  .footer(data-aos="fade-in")
    .footer__contacts
      .container
        a.footer__contacts-logo(href="index.html")           
          img(src="img/logo.svg")
        a.footer__contacts-phone(href="tel:+7812244-71-48")
          img.hidden-below-m(src="img/smartphone.svg")
          img.hidden-above-m(src="img/smartphone_m.svg")
          span +7 812 244-71-48
        a.footer__contacts-mail(href="mailto:support@ivnz.ru")
          img.hidden-below-m(src="img/mail_in.svg")
          img.hidden-above-m(src="img/mail_in_m.svg")
          span support@ivnz.ru
        .footer__contacts-social
          a(href="#")
            img(src="img/fb.svg")
          a(href="#")
            img(src="img/vk.svg")
          a(href="#")
            img(src="img/insta.svg")
    .footer__bottom
      .container
       .footer__bottom-item «Иващенко и Низамов» © 2013-2018
       .footer__bottom-item Бесплатный #[a(href="#") SEO-аудит] сайтов
       .footer__bottom-item 
         | Дизайн сайта 
         a.footer__bottom-design(href="#") 
           //img(src="img/design.svg")

    