include /input
include /footer

doctype html
<!--[if lt IE 7]><html lang="ru" class="ie6 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 7]><html lang="ru" class="ie7 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 8]><html lang="ru" class="ie8 no-js" style="visibility: hidden;"><![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9 no-js" style="visibility: hidden;"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="ru" class="no-js" style="visibility: hidden;"><![endif]-->
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    script(src="js/vendor.js")   
    if env === 'dev'
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/layout.css")
      link(rel="stylesheet", href="css/text.css")
      each stylesheet in css
        link(rel="stylesheet", href= stylesheet)
    else
      link(rel="stylesheet", href="css/style.min.css")
    script(id="dsq-count-scr" src="//ivnz.disqus.com/count.js" async)
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="js/script.js")
    title Ivaschenko Nizamov
  body
    if ['audit'].indexOf(pagename) === -1        
      .topnav__menu.-mobile
        .topnav__menu-close
          img(src="img/close.svg")
          span IVASCHENKO NIZAMOV
        .topnav__menu-itembox
          .topnav__menu-item
            a(href="#") О нас
          .topnav__menu-item.active
            a(href="cases.html") Кейсы
          .topnav__menu-item
            a(href="jobs.html") Вакансии
          .topnav__menu-item
            a(href="contacts.html") Контакты
          .topnav__menu-item
            a(href="blog.html") Блог
        .topnav__menu-telephone
          .topnav__menu-telephone-box
            img(src="img/smartphone_m.svg")
            span +7 812 244-71-48 
    .wrapper
      .container
        .topnav(data-aos="fade-in" data-aos-delay="600")          
          if ['audit'].indexOf(pagename) === -1 
            .topnav__hamburger#pull     
              img(src="img/hamburger.svg")
          if ['audit'].indexOf(pagename) === -1 
            a.topnav__logo(href="index.html")           
              img(src="img/logo.svg")
          if ['audit'].indexOf(pagename) !== -1 
            a.topnav__logo.-audit(href="index.html")           
              img(src="img/logo.svg")
          if ['audit'].indexOf(pagename) === -1 
            .topnav__menu#magic
              .topnav__menu-item
                a(href="#") О нас
              .topnav__menu-item.active
                a(href="cases.html") Кейсы
              .topnav__menu-item
                a(href="jobs.html") Вакансии
              .topnav__menu-item
                a(href="contacts.html") Контакты
              .topnav__menu-item
                a(href="blog.html") Блог
          if ['audit'].indexOf(pagename) !== -1 
            .topnav__text Поисковый аудит вашего сайта
          a.topnav__mail(href="mailto:support@ivnz.ru")
            img(src="img/mail.svg")
          a.topnav__phone(href="tel:+7812244-71-48")
            img(src="img/phone.svg")  
      .content
        block main
        +footer()
                