@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/ProximaNova-Regular.woff2") format('woff2'), url("../fonts/ProximaNova-Regular.woff") format('woff'), url("../fonts/ProximaNova-Regular.ttf") format('truetype'), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/ProximaNova-Bold.woff2") format('woff2'), url("../fonts/ProximaNova-Bold.woff") format('woff'), url("../fonts/ProximaNova-Bold.ttf") format('truetype'), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Rounds';
  src: url("../fonts/TTRounds-Bold.eot");
  src: url("../fonts/TTRounds-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/TTRounds-Bold.woff2") format('woff2'), url("../fonts/TTRounds-Bold.woff") format('woff'), url("../fonts/TTRounds-Bold.ttf") format('truetype'), url("../fonts/TTRounds-Bold.svg#TTRounds-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Rounds';
  src: url("../fonts/TTRounds-Regular.eot");
  src: url("../fonts/TTRounds-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/TTRounds-Regular.woff2") format('woff2'), url("../fonts/TTRounds-Regular.woff") format('woff'), url("../fonts/TTRounds-Regular.ttf") format('truetype'), url("../fonts/TTRounds-Regular.svg#TTRounds-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-color: #fff;
}
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-text-size-adjust: none;
}
@media only screen and (min-width: 1199px) {
  html {
    font-size: 1px;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1198px) {
  html {
    font-size: 0.09765625vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  html {
    font-size: 0.130208333333333vw;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 0.3125vw;
  }
}
html.-dragged {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
html:before,
html:after {
  display: none !important;
}
body {
  font: 14px/1.571429em "TT Rounds", Helvetica, Arial, sans-serif;
  color: #fff;
}
button {
  font-family: "TT Rounds", Helvetica, Arial, sans-serif;
}
svg {
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: fill, stroke, color;
  transition-property: fill, stroke, color;
}
svg:not(:root) {
  overflow: hidden;
}
svg:not(.-no-restyle) {
  fill: currentcolor;
}
svg:not(.-no-restyle) [fill] {
  fill: currentcolor;
}
svg:not(.-no-restyle) [stroke] {
  stroke: currentcolor;
}
a {
  color: #0169bf;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
a svg {
  -webkit-transition: none;
  transition: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a[href*="tel:"] {
  white-space: nowrap;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container {
  margin: auto;
  max-width: 1140px;
  position: relative;
}
@media only screen and (min-width: 1199px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1198px) {
  .container {
    width: 93.75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .container {
    width: 94.010417%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
hr {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #e5e5ed;
  height: 1px;
}
hr.-bold {
  height: 6px;
  border-radius: 3px;
  background-color: #3e3f55;
}
@media only screen and (max-width: 767px) {
  hr.-bold {
    margin: 0 -3px;
  }
}
img.-grayscale,
img.-grayscale-hoverable {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
img.-grayscale-hoverable {
  -webkit-transition: 0.2s, 0.2s, -webkit-filter 0.2s;
  transition: 0.2s, 0.2s, -webkit-filter 0.2s;
  transition: filter 0.2s, 0.2s, 0.2s;
  transition: filter 0.2s, 0.2s, 0.2s, -webkit-filter 0.2s;
}
img.-grayscale-hoverable:hover {
  -webkit-filter: none;
          filter: none;
}
.hidden {
  display: none !important;
}
@media only screen and (max-width: 1198px) {
  .hidden-below-d {
    display: none !important;
  }
}
@media only screen and (max-width: 1200px) {
  .hidden-below-1160 {
    display: none !important;
  }
}
@media only screen and (min-width: 1199px) {
  .hidden-above-d {
    display: none !important;
  }
}
@media only screen and (max-width: 980px) {
  .hidden-below-t {
    display: none !important;
  }
}
@media only screen and (max-width: 830px) {
  .hidden-below-830 {
    display: none !important;
  }
}
@media only screen and (min-width: 981px) {
  .hidden-above-t {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hidden-below-m {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .hidden-above-m {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .hidden-between-m-t {
    display: none !important;
  }
}
@media only screen and (min-width: 601px) {
  .hidden-above-600 {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .hidden-below-600 {
    display: none !important;
  }
}
@media only screen and (min-width: 321px) {
  .hidden-above-320 {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .hidden-below-320 {
    display: none !important;
  }
}
.nobr {
  white-space: nowrap;
}
.text-warning {
  color: #f44519;
}
.js-tooltip {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
html.no-mobile .js-tooltip {
  cursor: help;
}
html.mobile .js-tooltip {
  cursor: pointer;
}
.backurl {
  font-size: 14px;
  display: block;
  line-height: 16px;
  font-weight: bold;
  padding-left: 19px;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  color: #3c7fff;
}
.backurl:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 10px;
  background: url("img/left-arrow.svg");
  background-size: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
/*lines*/
.greyline {
  width: 2px;
  height: 0px;
  background-color: rgba(216,216,216,0.1);
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.blueline {
  width: 2px;
  height: 0px;
  background-color: #3b7eff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.orangecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fd933b;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .orangecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .orangecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.orangeline {
  width: 2px;
  height: 0px;
  background-color: #fd933b;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.greycircle {
  width: 1px;
  height: 0px;
  background-color: #d8d8d8;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.greycircle:before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .greycircle:before {
    width: 14px;
    height: 14px;
    top: -16px;
    left: -7.5px;
  }
}
@media only screen and (max-width: 767px) {
  .greycircle:before {
    width: 8px;
    height: 8px;
    top: -10px;
    left: -4.5px;
  }
}
.bluecircle {
  width: 2px;
  height: 0px;
  background-color: #3c7fff;
  border-radius: 10px;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  -webkit-transition: 0.4s ease-out !important;
  transition: 0.4s ease-out !important;
}
.bluecircle:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #3c7fff;
  border-radius: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media only screen and (min-width: 768px) {
  .bluecircle:before {
    width: 12px;
    height: 12px;
    bottom: -16px;
    left: -7px;
  }
}
@media only screen and (max-width: 767px) {
  .bluecircle:before {
    width: 6px;
    height: 6px;
    bottom: -10px;
    left: -4px;
  }
}
.metro {
  padding-left: 30px;
  font-family: "Proxima Nova";
  position: relative;
}
@media only screen and (min-width: 768px) {
  .metro {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .metro {
    font-size: 16px;
    line-height: 25px;
  }
}
.metro:before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 20px;
  height: 16.4px;
  background: url("../img/metro.svg");
  background-size: 100%;
}
