@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.001px;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
article,
aside,
figure,
footer,
header,
nav,
main,
section {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
table,
tr,
th,
td {
  padding: 0px;
  border-collapse: collapse;
}
p {
  margin: 0;
  padding: 0;
}
a img {
  border: none;
}
a[href*="tel:"] {
  white-space: nowrap;
}
input[type="search"],
input[type="number"],
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  border-radius: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button::-moz-focus-inner {
  border: none;
}
input,
textarea,
button {
  margin: 0px;
  padding: 0px;
}
form,
fieldset,
label {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-style: normal;
  border: none;
}
