.about
  .header
    background-image url(../img/header-about.png)
    background-size cover
    background-position top    
    background-color #ffffff
    +a($m)
      min-height 800px
    +b($m)
      min-height 712px
      padding 0 20px
    &__content
      max-width 772px
      text-align left
      +a($m)
        padding-top 180px
      +b($m)
        padding-top 102px
      h1
        text-transform uppercase  
        margin-bottom 40px      
    &__about
      max-width 500px
      &-item
        vertical-align middle
        +a($m)
          display table
          padding-bottom 50px
        +b($m)
          display block
          padding-bottom 40px
        img 
          vertical-align middle
          text-align left
          +a($m)
            margin-right 30px
            display table-cell
          +b($m)
            display block
            margin 0 auto
            margin-bottom 10px
        span 
          font-family "TT Rounds"
          vertical-align middle
          +a($m)
            display table-cell
            font-size 24px
            line-height 32px
          +b($m)
            display block
            text-align center
            font-size 14px
            line-height 20px
            font-weight bold
            text-transform uppercase 
  &__people
    .svg-masks
      height 0
    .blueline
      position absolute
      left 0
      +a($m)
        top -50px 
      +b($m)
        top -25px 
      &.active
        +a($m)    
          height 100px
        +b($m)
          height 60px
    .greyline
      position absolute
      left 50% 
      +a($m)
        top -173px
      +b($m)
        top -82px 
      &.active
        +a($m)     
          height 476px
        +b($m)
          height 100px
    .orangecircle
      position absolute
      right 0
      +a($m)
        top -171px
      +b($m)
        top -63px  
      &.active
        +a($m)     
          height 204px
        +b($m)
          height 100px
    &-content
      color #000000
      +a($m)
        padding-top 60px
      +b($m)
        padding-top 40px
      h2
        text-transform uppercase
    &-list
      text-align justify  
      &:after 
        content ''
        display inline-block
        width 100%
        height 0  
      &-item 
        display inline-block
        width 352px
        padding-left 50px
        box-sizing border-box
        &:hover
          .about__people-list-item-img
            &:after
              background url(../img/mask_1.svg) 
        &-img          
          width 299px
          height 309px
          position relative
          &:after
            content ''
            position absolute
            top 0
            left 0
            background url(../img/mask.svg)              
            width 299px
            height 309px            
          > .svg
            width 299px
            height 309px
            text-align center
            position relative
            stroke yellowgreen
            stroke-width 30
            stroke-opacity .5  
            position relative
            image
              position absolute
              bottom 0
        &:nth-child(3n-1)
          .about__people-list-item-img 
            &:after
              transform rotate(180deg)
        &:nth-child(3n)
          .about__people-list-item-img 
            &:after
              transform rotate(-100deg)
        &-assistents
          position relative
          &:before
            content ''
            display block
            position absolute
            width 173px
            height 304px
            background url(../img/line-assis.svg)
            bottom 0
            left 0
            
            
            
                     
            
        