.article
  .header  
    background-color #212B41
    +a($m)
      min-height 316px
    +b($m)
      min-height 174px
      padding 0 20px 
    &__content
      max-width 950px
      text-align left
      box-sizing border-box
      +a($m)
        padding-top 180px
        padding-bottom 60px
      +b($m)
        padding-top 96px
        padding-bottom 40px
      h1
        +a($m)
          text-transform uppercase  
          margin 0px
         +b($m)
           margin 12px 0 0
           line-height 28px
      .backurl
        +a($m)
          display none
        +b($m)
          display block
  &__content
    color #000 
    +a($m)
      margin-bottom 120px
    +b($m)  
      margin-bottom 40px 
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    +a($m)
      padding-top 60px
    +b($m)
      padding-top 15px
    .blueline
      position absolute
      +a($m)
        top -76px
        left 0
      +b($m)
        top -50px
        left 20px
      &.active
        +a($m)     
          height 60px
        +b($m)
          height 40px
    .greyline
      position absolute
      background rgba(216, 216, 216, .1)
      +a($m)
        top -99px
        left 50%
      +b($m)
        display none
      &.active
        +a($m)     
          height 120px
    .greycircle
      position absolute
      background #EBEBEB
      +a($m)
        top -243px
        right 0
      +b($m)
        top -81px  
        right 20px
      &:before
        background transparent
        border 2px solid #EBEBEB
        +a($m)
          width 12px
          height 12px
          top auto
          bottom -16px
          left -7px
        +b($m)
          width 6px
          height 6px
          top auto
          bottom -10px
          left -4px 
      &.active
        +a($m)     
          height 204px
        +b($m)
          height 90px 
    &-header
      font-size 0
      +b($m)
        margin-bottom 10px
        position relative
        &:before
          content ''
          width calc(100% + 40px)
          left -20px
          background #FAFAFA
          border-top 0.5px solid #D5D5D5
          border-bottom 0.5px solid #D5D5D5
          height 10px
          display block
          position absolute
          bottom -10px
      &-time
        vertical-align middle
        font-family "Proxima Nova"
        position relative
        color #636870
        +a($m)
          display inline-block
          line-height 40px
          padding-left 60px
          font-size 15px
        +b($m)
          display block
          border-bottom 1px solid #EDEDED
          padding-bottom 10px
          line-height 30px
          padding-left 40px
          font-size 14px
        img 
          top 0
          left 0          
          position absolute
          +a($m)
            width 40px
            height 40px
          +b($m)
            width 30px
            height 30px
      &-repost
        line-height 0
        height 40px
        box-sizing border-box
        border 2px solid #000
        border-radius 5px
        background #FFFBF7
        padding 0 7px
        display inline-block
        margin-left 168px
        +b($m)
          display none
        &:hover
          .article__content-header-repost-social
            width 176px
            margin-left 10px
            padding-left 20px
            padding-right 10px
            &:before 
              opacity 1
            > a 
              opacity 1
        &-count
          display inline-block
          background url('../img/repost-top.svg')
          background-repeat no-repeat
          background-position 0 center
          background-size 22px 24px
          line-height 36px
          vertical-align middle
          font-size 13px
          font-weight bold
          padding-left 25px
          cursor pointer
          &:hover + .article__content-header-repost-social
            width 176px
            margin-left 10px
            padding-left 20px
            padding-right 10px
            &:before 
              opacity 1
            > a 
              opacity 1
        &-social
          line-height 36px
          vertical-align middle
          display inline-block
          width 0
          padding 0
          margin 0
          position relative
          height 36px
          transition-duration $speed 
          transition-property width
          overflow hidden
          box-sizing border-box
          &:hover
          &.-active
            width 176px
            margin-left 10px
            padding-left 20px
            padding-right 10px
            &:before 
              opacity 1
            > a 
              opacity 1
          &:before
            content ''
            width 2px
            height 20px
            border-radius 10px
            background #EFDAC8
            position absolute
            top 8px
            left 0
            transition-property opacity
            transition-duration 0.01s
            opacity 0            
          > a
            display inline-block
            height 100%
            background-position center
            background-repeat no-repeat
            position relative
            transition-property opacity
            transition-duration 0.01s
            opacity 0
          .twitter
            background-image url('../img/twitter-black.svg')
            width 14.5px
            background-size 100%
            &:hover
              background-image url('../img/twitter-hover.svg')
          .vk
            background-image url('../img/vk-black.svg')
            width 16.2px
            background-size 100%
            margin-left 30.4px
            &:hover
              background-image url('../img/vk-hover.svg')
          .fb
            background-image url('../img/fb-black.svg')
            width 7.7px
            background-size 100%
            margin-left 30.7px
            &:hover
              background-image url('../img/fb-hover.svg')
          .telegram
            background-image url('../img/telegram-black.svg')
            width 15.9px
            background-size 100%
            margin-left 30.3px
            &:hover
              background-image url('../img/telegram-hover.svg')
      &-info
        +a($m)
          float right
        +b($m)
          float block
        &:after
          content ''
          display table
          clear both
      &-date
      &-autor
        display inline-block
        color #636870
        font-family "Proxima Nova"
        +a($m)
          font-size 15px
          line-height 40px
        +b($m)
          font-size 14px
          line-height 54px
      &-autor
        position relative
        +a($m)
          margin-left 63px
          padding-left 55px
        +b($m)
          float right
        &-img
          position absolute
          width 40px
          height 40px
          border-radius 40px
          overflow hidden
          top 0px
          left 0px
          +b($m)
            display none
          &:after
            content ''
            width 100%
            height 100%
            display block
            background rgba(0, 18, 61, .3)
            position absolute
            top 0px
            left 0px
            z-index 3
          img 
            width 100%
    &-text
      margin-top 38px
      h2
        font-family "TT Rounds"
        +a($m)
          margin 80px 0 40px
          text-transform uppercase
        +b($m)
          margin 40px 0 20px
      .text
        max-width 750px
        font-family "Proxima Nova"
      &-picture
        font-size 0
        margin-top 60px
        & + .text
          +a($m)
            margin-top 60px
          +b($m)
            margin-top 16px
        &-img
          display inline-block
          vertical-align top
          line-height 0
          +a($m)
            width 73%
            border-radius 10px
            overflow hidden
          +b($m)
            width calc(100% + 40px)
            margin-left -20px
          img
            width 100% 
        &-notation
          display inline-block
          vertical-align top
          box-sizing border-box
          padding-left 40px
          color #636870
          font-family "Proxima Nova"
          +a($m)
            width 27%
            line-height 24px
            font-size 15px
          +b($m)
            width 100%
            line-height 20px
            font-size 14px
            padding-left 15px
            margin-top 20px
            box-sizing border-box
            border-left 2px solid rgba(99, 104, 122, 0.3)
      &-thesis
        max-width 750px
        font-family "TT Rounds"
        font-weight bold
        border-left 3px solid #F78200
        +a($m)
          font-size 24px
          line-height 40px
          padding-left 40px
          text-transform uppercase
        +b($m)
          font-size 18px
          line-height 28px
          padding 10px 0 18px 17px
          margin-left -20px
          width calc(100% + 20px)
          box-sizing border-box
      ol
        list-style-type none
        counter-reset num  
        +a($d)
          margin-left -40px
        +b($d) 
          margin-left -5px
          padding-left 30px
      ul
        +a($d)
          margin-left -40px
        +b($d) 
          margin-left -5px
          padding-left 30px
        li
          &:before
            content ''
      li
        border-top 1px solid #D8D8D8
        padding-top 15px             
        padding-bottom 15px 
        position relative
        +a($m)
          line-height 28px
          font-size 18px   
        +b($m)
          line-height 24px
          font-size 16px
        &:first-child
          border none
        &:before
          content counter(num)
          counter-increment num
          font-family "TT Rounds"
          font-weight bold
          position absolute
          text-align right
          +a($d)
            left -40px
            width 20px
            font-size 16px
            line-height 28px
          +btw($m, $d)
            left -40px
            width 20px
            font-size 16px
            line-height 28px
          +b($m)
            left -36px
            width 15px
            font-size 13px
            line-height 24px
  &__footer
    background #1F2637
    position relative     
    +a($m)
      padding 60px 0 40px
    +b($m)
      padding 20px 0 30px        
      &:after
        content ''
        display block
        position absolute
        width 100%
        bottom 0
        height 1px
        background #333C51
    .container
      +a($m)            
        &:after
          content ''
          display block
          position absolute
          width 100%
          bottom -40px
          height 1px
          background #333C51
      +b($m)
        padding 0 20px
        box-sizing border-box
    .blueline
      position absolute
      +a($m)
        top -90px
        left 0
      +b($m)
        top -40px
        left 20px
      &.active
        +a($m)     
          height 60px
        +b($m)
          height 40px
    .greyline
      position absolute
      background #d8d8d8
      +a($m)
        top -90px
        left 50%
      +b($m)
        display none
      &.active
        +a($m)     
          height 60px
    .orangecircle
      position absolute
      +a($m)
        top -107px
        right 0
      +b($m)
        display none
      &.active
        +a($m)     
          height 80px 
    &-repost
      line-height 0
      box-sizing border-box
      border-radius 10px
      background #F6F9FF
      padding 0 7px
      color #000
      line-height 40px
      font-weight bold
      +a($m)
        display inline-block
        padding 20px 0 20px 30px
        font-size 15px
        font-family "Proxima Nova"
      +b($m)
        display block
        padding 22px 30px 40px
        text-align center
        font-size 18px
        font-family "TT Rounds" 
      &-count
        display inline-block
        background url('../img/repost-bottom.svg')
        background-repeat no-repeat
        background-position 0 center
        background-size 24px 24px
        line-height 40px
        vertical-align middle
        font-weight bold
        padding-left 35px
        margin-left 10px
        cursor pointer
        +a($m)
          font-size 13px
        +b($m)
          font-size 18px
      &-social
        line-height 40px
        vertical-align middle
        display inline-block
        position relative
        height 40px
        transition-duration $speed 
        transition-property all 
        overflow hidden
        +a($m)
          display inline-block
          margin-left 20px
          padding-left 10px
          padding-right 20px
          text-align justify
        +b($m)
          display block
          text-align center
          margin-top 12px
        &:before
          content ''
          width 2px
          height 30px
          border-radius 10px
          background #E0E5EF
          position absolute
          top 5px
          left 0
          +a($m)
            display block
          +b($m)
            display none
        > a
          display inline-block
          height 100%
          background-position center
          background-repeat no-repeat
          width 40px
          height 40px
          padding 0 10px
          +b($m)
            &:first-child
              padding-left 0
              background-position left
            &:last-child
              padding-right 0
              background-position right
        .twitter
          +a($m)
            background-image url('../img/twitter-black.svg')
            background-size 14.5px          
          +b($m)
            background-image url('../img/twitter-hover-bot.svg')
            background-size 40px
          &:hover
            background-image url('../img/twitter-hover-bot.svg')
            background-size 40px
        .vk
          +a($m)
            background-image url('../img/vk-black.svg')
            background-size 16.2px
          +b($m)
            background-image url('../img/vk-hover-bot.svg')
            background-size 40px
          &:hover
            background-image url('../img/vk-hover-bot.svg')
            background-size 40px
        .fb 
          +a($m)
            background-image url('../img/fb-black.svg')
            background-size 7.7px
          +b($m)
            background-image url('../img/fb-hover-bot.svg')
            background-size 40px
          &:hover
            background-image url('../img/fb-hover-bot.svg')
            background-size 40px
        .telegram
          +a($m)
            background-image url('../img/telegram-black.svg')
            background-size 15.9px
          +b($m)
            background-image url('../img/telegram-hover-bot.svg')
            background-size 40px
          &:hover
            background-image url('../img/telegram-hover-bot.svg')
            background-size 40px
    &-info
      +a($t)
        float right
        &:after
          content ''
          display table
          clear both
      +b($t)
        display block
        padding 0 0 20px 0
        position relative
        margin-bottom 20px
        &:after
          content ''
          display block
          position absolute
          width calc(100% + 40px)
          left -20px
          bottom 0
          height 1px
          background #333C51
    &-date
    &-autor
      display inline-block
      color #FFFFFF
      font-family "Proxima Nova"
      +a($t)
        font-size 15px
        line-height 40px
        padding 20px 0
      +b($t)
        font-size 14px
        line-height 30px
        padding 0 
    &-autor
      position relative
      +a($t)
        margin-left 53px
        padding-left 55px
      +b($t)
        margin-left 53px
        padding-left 40px
        float right        
        span
          vertical-align top
          display inline-block
        span:last-child
          white-space nowrap 
          overflow hidden
          text-overflow clip
          width 1.3em
          color transparent
          vertical-align baseline
          padding-left 0.5em
          position relative
          &:after
            content '.'
            color #fff
            display inline-block
            position absolute
            width 2px
            left 1.4em
          &:first-letter
            color #fff
      &-img
        position absolute
        border-radius 40px
        overflow hidden
        left 0px
        +a($t)
          width 40px
          height 40px
          top 20px
        +b($t)
          width 30px
          height 30px
          top 0
        &:after
          content ''
          width 100%
          height 100%
          display block
          background rgba(0, 18, 61, .3)
          position absolute
          top 0px
          left 0px
          z-index 3
        img 
          width 100%
  &__readmore
    background #1F2637
    position relative
    +a($m)
      padding 60px 0
    +b($m)
      padding 40px 0
      &:after
        content ''
        display block
        position absolute
        width calc(100% + 40px)
        left -20px
        bottom 0
        height 1px
        background #333C51
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    &-title
      color #fff
      text-transform uppercase
    &-list
      margin-top 42px
      &-item
        display block
        font-size 0
        width 100%
        position relative
        border-color transparent  
        border-top 1px solid #333C51        
        line-height 0
        position relative
        transition-duration $speed 
        transition-property border-color, background
        box-sizing border-box    
        +a($m)
          height 60px
          &:first-child
            border-color transparent 
          &:hover
            border 2px solid #3C7FFF
            border-radius 4px
            background #222A3D
            .article__readmore-list-item-date
              color #fff
              left -2px            
              top 1px
            .article__readmore-list-item-title
              padding-left 132px
            > *            
              line-height 56px
              /*&:after
                opacity 1
                height auto*/         
        +b($m)
          padding 10px 0 
          border-color #333C51
          &:last-child
            border-top 1px solid #333C51  
          &:hover
            text-decoration none
        > *
          vertical-align baseline
          +a($m)
            line-height 58px
            display inline-block
          +b($m)
            display block
            line-height 24px
        &-date
          font-family "Proxima Nova"
          color #51596B
          transition-duration $speed 
          transition-property color   
          +a($m)
            position absolute
            left 0px
            top 1px
            font-size 15px
            width 134px
            text-align center
          +b($m)
            position relative
            font-size 14px
            text-align left
            margin-top 9px
        &-title 
          color #fff        
          +a($m)
            white-space nowrap
            font-size 18px
            padding-left 134px
          +b($m)
            font-size 18px
  &__comments    
    background #1D2333
    position relative
    +a($m)
      padding 120px 0
    +b($m)
      padding 40px 0
      &:after
        content ''
        display block
        position absolute
        width calc(100% + 40px)
        left -20px
        bottom 0
        height 1px
        background #333C51
    .orangeline
      position absolute
      +a($m)
        top -170px
        right 50%
      +b($m)
        display none
      &.active
        +a($m)     
          height 100px
    h2
      text-transform uppercase
      +b($m)
        display none
    .container
      transition-duration $speed 
      transition-property all
      +b($m)
        padding 0 20px
        box-sizing border-box       
      &:before
        content ''
        position absolute
        background url('../img/comments-top.svg')
        width 417px
        height 405px
        background-size 100%
        top 130px
        left -70px
        z-index 0        
        transition-duration $speed 
        transition-property all 
        +b($m)
          display none
      &:after
        content ''
        position absolute
        background url('../img/comments-bottom.svg')
        width 409px
        height 463px
        background-size 100%
        bottom -15px
        right -65px
        z-index 0
        transition-duration $speed 
        transition-property all
        +b($m)
          display none         
    &-wrap
      width 100%
      background #FFFFFF
      border-radius 20px
      box-sizing border-box
      position relative
      z-index 1
      transition-duration $speed 
      transition-property all
      +a($m)
        padding 60px 89px
        margin-top 29px
      +b($m)
        height 0
        overflow hidden
        &.-active
          padding 30px 20px
          height auto
          margin-top 20px
    &-button
      border none  
      background-color #F78200
      border-radius 2px
      color #ffffff
      font-weight bold
      text-align center      
      font-family "Proxima Nova"
      width 100%
      cursor pointer
      font-size 18px
      transition-duration $speed 
      transition-property all
      +a($m)
        display none
      +b($m)
        display inline-block
        box-sizing border-box 
        line-height 50px
        height 50px
      &:before
        content 'Скрыть комментарии'          
        font-size 0
        transition-duration $speed 
        transition-property all
      &.-active
        font-size 0
        overflow hidden
        &:before
          font-size 18px
      &:hover
        background-color #FF8E11
        text-decoration none
      .disqus-comment-count
        display inline
  .audit-form
    background-color #1F2637
    .orangecircle
      +a($m)
        top -70px 
      +b($m)
        top -18px 
      &.active
        +a($m)
          height 120px
        +b($m)
          height 60px
        
        