.cases
  .header  
    background-color #212B41
    +a($m)
      min-height 316px
    +b($m)
      min-height 174px
      padding 0 20px 
    &__content
      max-width 772px
      text-align left
      +a($m)
        padding-top 180px
      +b($m)
        padding-top 102px
      h1
        text-transform uppercase  
        margin-bottom 40px      
    












  .audit-form
    background-color #1F2637
    .orangecircle
      +a($m)
        top -70px 
      &.active
        height 120px
        