.control-label 
  //display table
  display block
  cursor pointer
  border-collapse collapse
  border-spacing 0
  width 100%  
  &__input,
  &__value
    //display table-cell
    vertical-align middle
  &__input
    padding-right 10px
    width 100%    
  &__value
    +b($m)
      // width 100% 
    &-text,
    &-rouble
      display inline-block
      vertical-align top
    &-text
      font-size 14px
      line-height 20px      
      vertical-align middle
      font-family "Proxima Nova"
      padding 2px 0 0 2px
    &-rouble
      font-size 22px
      line-height 22px
      color $blueb7
      letter-spacing 2px
      +a($m)
        margin-right 4px
      +b($m)
        margin-right 6px
