.footer
  display block
  background #1F2637
  width 100%
  //border-top 1px solid rgba(216, 216, 216, 0.1)
  +a($m)
    padding-top 29px     
  a 
    color #ffffff
  &__contacts
    width 100%
    font-family "TT Rounds"
    +a($m)
      padding-bottom 40px
    +b($m)
      padding-bottom 20px
      padding-top 44px
      &:before
        content ''
        display block
        width 100%
        height 9px
        border 1px solid #121621
        border-left none
        border-right none
        background #1A202F
        top 0
        left 0
        position absolute  
    .container
      text-align justify     
      line-height 0
      box-sizing border-box
      +b($m)
        padding 0 20px
      &:after 
        content ""   
        display inline-block
        width 100%
        line-height 0
        height 0
    .container > *
      vertical-align top
      +a($m)
        display inline-block
      +b($m)  
        display block
    &-logo    
      transition-property all
      transition-duration $speed
      height 49px
      line-height 49px
      position relative
      +a($d)
        margin-right 8.7% 
        width 152px
      +btw($t, $d) 
        margin-right 6% 
        width 45px
        overflow hidden 
      +btw($m, $t) 
        margin-right 3% 
        width 40px
        overflow hidden
      +b($m) 
        width 150px  
        margin-bottom 13.5px  
      &:hover
        opacity 0.7
      img
        width 150px
        height 36px
        padding 6.5px 0
        vertical-align middle
        position absolute
        +a($d)
          left -47px
        +b($d)
          left 0
    &-phone
      color #fff
      vertical-align middle
      position relative
      transition-property all
      transition-duration $speed
      +a($t)  
        margin-right 6.7%
        font-size 24px
        line-height 49px
        height 49px
        padding-left 60px
      +btw($m, $t) 
        margin-right 3%
        font-size 18px
        line-height 49px
        height 49px
        padding-left 60px
      +b($m)
        line-height 30px
        height 30px
        font-size 18px 
        padding-left 50px  
        font-weight bold
        padding-top 6px  
        border-bottom 1px solid #1A202F
        padding-bottom 4.5px
        margin-bottom 11px
      &:hover
        text-decoration none
      img
        position absolute
        +a($m)
          width 47px
          height 45px
          bottom 0
          left 0
        +b($m)
          width 30px
          height 30px
          top 0
          left 0
    &-mail
      color #fff
      vertical-align middle
      position relative
      transition-property all
      transition-duration $speed
      text-transform uppercase
      +a($t)  
        font-size 24px
        margin-left 63px
        line-height 49px
        height 49px
      +btw($m, $t) 
        font-size 18px
        margin-left 63px
        line-height 49px
        height 49px
      +b($m)
        margin-left 50px
        font-weight bold
        font-size 18px
        line-height 30px
        height 30px
        padding-top 6px         
        margin-bottom 15px
      span
        display inline-block
        position relative
        &:after
          content ''
          width 100%
          height 2px
          background-color #3B7EFF
          border-radius 10px
          transition-property all !important
          transition .4s ease-out !important
          display block
          position absolute
          left 0
          +a($m)
            bottom 4px
          +b($m)
            bottom 0
      &:hover
        text-decoration none
        span:after
          background-color #F78200
      img
        position absolute
        top 0
        +a($m)
          width 47px
          height 45px
          left -63px
        +b($m)
          width 30px
          height 30px
          left -50px
    &-social
      text-align left
      position relative
      +a($m)
        line-height 49px
        height 49px      
        right -4px
      +b($m)
        margin-top 20px
      a
        vertical-align bottom
        /*border 2px solid #1A202F
        border-radius 6px*/
        text-align center
        box-sizing border-box
        position relative        
        +a($m)
          width 40px
          height 40px
          line-height 40px
          display inline-block
          margin-left 20px
        +b($m)
          width 100%
          height 59px
          line-height 30px
          display block
          box-sizing border-box
          text-align left
          padding 15px 0
          padding-left 50px
          border-bottom 1px solid #1A202F
        &:before
          content ''
          vertical-align bottom
          border 2px solid #1A202F
          border-radius 6px
          text-align center
          box-sizing border-box
          position absolute                 
          transition-property all
          transition-duration $speed 
          +a($m)
            width 40px
            height 40px
            top 0 
            left 0
          +b($m)
            width 30px
            height 30px            
            top 50%
            transform translateY(-50%)
            left 0
        &:hover  
          &:before        
            border-color #fff  
        &:nth-child(1)
          img     
            +b($m)
              width 5.42px
              height 11.62px
              left 12px
        &:nth-child(2)
          img     
            +b($m)
              width 13.5px
              height 7.56px
              left 8.25px
        &:nth-child(3)
          border none
          img     
            +b($m)
              width 15px
              height 15px
              left 7.5px
        img     
          vertical-align middle
          +b($m)
            display inline-block
            position absolute
            top 50%
            transform translateY(-50%)
        span
          +a($m)
            display none
          +b($m)
            display inline-block
            vertical-align middle  
            font-size 16px 
            font-family 'Proxima Nova'
    .footer__bottom-item
      +b($m) 
        line-height 22px
  &__bottom
    border-top 1px solid #1A202F
    padding 19px 0 32px
    font-family "Proxima Nova"
    position relative
    +b($m)
      padding 34px 0
      &:before
        content ''
        display block
        width 100%
        height 9px
        border 1px solid #121621
        border-left none
        border-right none
        background #1A202F
        top 0
        left 0
        position absolute 
      &:after
        content ''
        display block
        width 100%
        height 9px
        border 1px solid #121621
        border-left none
        border-right none
        background #1A202F
        bottom 0
        left 0
        position absolute       
    .container
      text-align justify     
      line-height 0
      +b($m)
        padding 0 20px
        box-sizing border-box
      &:after 
        content ""   
        display inline-block
        width 100%
        line-height 0
        height 0
    &-item
      display inline-block
      position relative
      vertical-align middle
      color rgba(255, 255, 255, .3)      
      font-family "Proxima Nova"
      +a($t)
        font-size 18px
        height 24px
        line-height 24px
      +btw($m, $t)
        font-size 16px
        height 24px
        line-height 24px
      +b($m)        
        padding-left 50px
        font-size 16px
        line-height 22px
        text-align left
        height auto
        width 100%
      a
        color #fff
        &:hover
          color #F78200
          text-decoration none
    &-design
      vertical-align top
      line-height 0
      display inline-block
      +a($m)
        height 24px
      +b($m)
        height 22px
        position absolute
        top 0
        left 0
      &:after
        content ''
        display inline-block
        background url('../img/design.svg')
        vertical-align middle        
        transition-property all
        transition-duration $speed        
        +a($m)
          height 24px
          width 36px
        +b($m)
          height 22px
          width 32px
          background-size 32px 22px
      &:hover
        &:after    
          background url('../img/design2.svg')
          +b($m)
            background-size 32px 22px
    .footer__contacts-logo
      display inline-block
      vertical-align middle
      margin-right 0
    .topnav__mail
      margin-top 5px
      font-size 0
      line-height 0
      +b($m)
        display block
        float none
        font-size 16px
        line-height 30px
        font-weight bold
        overflow visible
        margin-top 20px
        height 30px
        img 
          vertical-align top
          position absolute
          width 27px
          height 17px
          top 50%
          transform translateY(-50%)
          left -47px
          display block
        span
          vertical-align top
          display inline-block
          
          
      
      
       
        
        
    
