.main-page
  &__about
    height 480px
    font-weight 300
    text-align center
    background #0f0f0f
    .container
      padding 57px 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 17px
    p
      font-size 18px
      line-height 21px
      padding-top 20px 
      max-width 700px
      display inline-block
  &__people
    background url('../img/back-people.png')
    height 480px
    background-size cover
    background-position center
    background-attachment fixed
  &__production
    height 480px    
    text-align center
    background #0f0f0f
    .container
      padding 71px 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 20px
    p
      font-size 18px
      line-height 21px
      padding-top 20px 
      max-width 770px
      font-weight 400
      display inline-block
    &-history
      margin-top 40px
      display inline-block
      &-line
        font-size 25px
        line-height 35px
        color #00ccff
        font-weight 300
  &__160C
    background url('../img/back-160C.png')
    height 480px
    background-size cover
    background-position center  
    text-align center
    .container
      padding 59px 0
      line-height 0
    img
      margin-bottom 15px
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 14px
      sup
        font-size 24px
        vertical-align 21px
    p
      font-size 18px
      line-height 21px
      padding-top 21px 
      max-width 770px
      font-weight 400
      display inline-block   
      vertical-align bottom
      sup
        font-size 15px
        vertical-align 7px
  &__promo 
    height 480px
    text-align center
    background #0f0f0f
    .container
      padding 85px 0
    img
      margin-left 36px
  &__benefits
    height 480px    
    text-align center
    background #161616
    color #cccccc
    .container
      padding 67px 0
      line-height 0
      font-size 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 80px
    &-list
      display inline-block
      line-height 0
      font-size 0
      vertical-align top
    &-item
      display inline-block
      text-align center
      vertical-align top
      padding-top 94px 
      position relative
      box-sizing border-box
      line-height 20px
      font-size 18px
      width calc(100%/5)
      font-weight 300
      &:nth-child(1)
        img
          left 29px
      &:nth-child(2)
        img
          left 6px
      &:nth-child(3)
        img
          left 0
      &:nth-child(4)
        img
          left 11px
      &:nth-child(5)
        img
          left 0
      img 
        position absolute
        top 0
        margin auto
        left 0
        right 0
  &__geography
    height 480px
    text-align center
    background #0f0f0f
    color #cccccc
    .container
      padding 33px 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 28px
  &__places    
    height 480px    
    text-align center
    background #161616
    color #cccccc
    .container
      padding 53px 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 20px
    p
      font-size 18px
      line-height 21px
      padding-top 28px 
      font-weight 300
    &-list
      text-align center
      line-height 0
      font-size 0
      img
        display inline-block
        padding 11px 64px
        vertical-align middle
  &__contacts
    background url('../img/back-160C.png')
    height 480px
    background-size cover
    background-position center  
    text-align center
    color #cccccc
    .container
      padding 158px 0
      line-height 0
    h2
      font-weight 300
      font-size 40px 
      padding-bottom 35px
    p
      font-size 18px
      line-height 22px
      font-weight 300