.main-page
  .header
    background-image url(../img/main-page-header.png)
    background-size cover
    background-position top    
    background-color #ffffff
    +a($m)
      min-height 900px
    &__content
      max-width 772px
      text-align left
      text-transform uppercase
      padding-top 273px