.vacancy
  .header  
    background-color #212B41
    line-height 0
    +a($m)
      min-height 310px
    +b($m)
      min-height 174px
      padding 0 20px 
      padding-bottom 40px
      box-sizing border-box
    &__content
      max-width 772px
      text-align left
      +a($m)
        padding-top 180px
      +b($m)
        padding-top 96px
      h1
        text-transform uppercase  
        margin 0px
  &__list
    +a($m)
      padding-top 46px
    +b($m)
      padding-top 30px    
    .blueline
      position absolute
      +a($m)
        top -76px
        left 0
      +b($m)
        top -50px
        left 20px
      &.active
        +a($m)     
          height 60px
        +b($m)
          height 40px
    .greycircle
      position absolute
      background #EBEBEB
      +a($m)
        top -155px
        right 0
      +b($m)
        top -108px  
        right 20px
      &:before
        background transparent
        border 2px solid #EBEBEB
        +a($m)
          width 12px
          height 12px
          top auto
          bottom -16px
          left -7px
        +b($m)
          width 6px
          height 6px
          top auto
          bottom -10px
          left -4px 
      &.active
        +a($m)     
          height 170px
        +b($m)
          height 90px 
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    &-title
      line-height 30px
      color rgba(0, 0, 0, .3)
      +a($m)
        text-transform uppercase
        font-size 18px
        margin-bottom 20px
      +b($m)
        font-size 14px
        margin-bottom 10px
    h2
      text-transform uppercase
      color #000
      vertical-align middle
      +b($m)
        font-size 18px
        line-height 32px
      .smile
        vertical-align middle
        +a($m)
          font-size 54px
        +b($m)
          font-size 24px
    &-item
      display block
      color #000000
      border-bottom 1px solid #EEEEEE
      text-transform uppercase
      font-weight bold
      border-top 1px solid #EEEEEE
      +a($m)
        height 129px
        line-height 129px
        font-size 40px
      +b($m)
        height 51px
        line-height 51px
        font-size 18px
      & + &
        border-top none
      &:hover
        color #3B7EFF
        text-decoration none
    &-empty
      max-width 750px
      padding-top 30px
      margin-top 30px
      color #000      
      border-top 1px solid #EEEEEE
      +a($m)
        font-size 24px
        line-height 40px
      +b($m)
        font-size 18px
        line-height 32px
      /*& ~ *
        color #7F7F7F*/
      a 
        color #3C7FFF
  &__talants
    color #000000
    position relative
    font-size 0
    +a($m)
      margin-top 120px
    +b($m)
      margin-top 50px
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    h2
      text-transform uppercase
      +a($m)
        margin-bottom 40px
      +b($m)
        margin-bottom 20px
        text-align center
    &-text
      font-family "Proxima Nova"
      margin-bottom 40px
      +a($m)
        font-size 18px
        line-height 28px
        max-width 516px
      +b($m)
        font-size 16px
        line-height 24px
        text-align center
      p + p 
        padding-top 28px
    &-benefits
      &-item 
        position relative
        font-weight bold
        +a($m)
          padding 27.5px 0 27.5px 100px
          font-size 16px
          line-height 22px
        +b($m)
          margin-bottom 40px
          text-align center
          font-size 14px
          line-height 20px
          &:last-child
            margin 0            
        img 
          +a($m)
            position absolute
            left 0
            bottom 19px
          +b($m)
            display block
            margin 0 auto
            margin-bottom 10px
        &:first-child
          img 
            left -10px
    &-about
      display inline-block
      vertical-align top      
      +a($m)
        width 51.23%
        padding-right 20px
        box-sizing border-box
      +b($m)
        width 100%
    &-sliders
      display inline-block
      vertical-align top
      position relative
      +a($m)
        width 48.77%
      +b($m)
        width 100%
        margin-top 50px
      .greyline
        position absolute
        left 50% 
        z-index 3
        background rgba(216, 216, 216, .5)
        +a($m)
          display none
        +b($m)
          top -25px
          left 50%
        &.active
          +b($m)
            height 50px
      .orangecircle
        position absolute
        z-index 3
        +a($m)
          display none
        +b($m)
          top -19px  
          right 20px
        &.active
          +b($m)
            height 71px  
    &-slider
      display block
      width 100%  
      max-width 556px    
      height 0
      padding-bottom 129.5%
      position relative
      overflow hidden
      +a($m)
        margin-top 102px
        margin-right -20%
        padding-right 20%
      +b($m)
        margin 0 auto
      $time = 500ms
      $delay = $time/2
      $mode = linear//cubic-bezier(.17, .67, .55, 1.43)
      .swiper-wrapper 
        width 100%
        .swiper-slide
          transition $time $mode
          border-radius 10px
          position relative
          width 100%
          opacity 0  
          &:after
            content ''
            display block
            width 100%
            height 0
            padding-bottom 129.5%
            border-radius 10px
            //background #1F2D4F
            background #fff
            opacity 0
            position absolute
            top 0
            left 0
            transition $time $mode
            //z-index 3
            z-index 1
          &:before
            content ''
            display block
            max-width 556px 
            width 100%
            height 0
            padding-bottom 129.5%
            border-radius 10px
            background-color #1F2D4F
            opacity 0
            //background linear-gradient(61deg, #141414 1%, #4A4A4A 100%)
            background-image linear-gradient(61deg, #334163 1%, #697799 100%)
            position absolute
            top 0
            left 0
            transition $time $mode
            z-index 3
          img 
            position relative
            transition $time $mode
            opacity 0
            box-sizing border-box
            width 100%
            z-index 2
          /*попытка унять мерцание*/
          &:before
          &:after
            +a($m)
              transform translateX(14.5%) scale(.89)
            +b($m)
              transform translateX(14.5%) scale(.846) translateY(3%)
          img 
            +a($m)
              transform translateX(14.5%) scale(.89)
            +b($m)
              transform translateX(14.5%) scale(.846) translateY(3%)
          &.swiper-slide-prev
            z-index: 1;
            opacity: 0;
            &:before
            &:after
              opacity: 0;
              transform: translateX(0) scale(.89);
            img 
              opacity: 0;
              transform: translateX(0) scale(.89);         
          &.swiper-slide-next
            z-index 1
            +a($m)
              opacity 1 !important
            +b($m)
              opacity 0
            &:before
            &:after
              opacity .15 
              +a($m)
                transform translateX(14.5%) scale(.89)
              +b($m)
                transform translateX(14.5%) scale(.846) translateY(3%)
            &:after
              opacity 1
            img 
              opacity 0.3
              +a($m)
                transform translateX(14.5%) scale(.89)
              +b($m)
                transform translateX(14.5%) scale(.846) translateY(3%)
          &.swiper-slide-active 
            z-index 2 
            opacity 1       
            &:before
            &:after
              opacity 0.5
              +a($m)
                transform translateX(0) scale(1)
              +b($m)
                transform translateX(0) scale(1) translateY(0)
            img 
              opacity 1
              +a($m)
                transform translateX(0) scale(1)
              +b($m) 
                transform translateX(0) scale(1) translateY(0)
            span 
              display block   
  &__require
    color #000000
    margin-top 120px
    +a($m)
      margin-bottom 64px
    +b($m)
      margin-bottom 50px
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    h2
      text-transform uppercase
      +a($m)
        margin-bottom 40px
      +b($m)
        margin-bottom 20px
    p
      font-family "Proxima Nova"  
      +a($m)
        line-height 28px
        font-size 18px
      +b($m) 
        line-height 24px
        font-size 16px   
    .greyline
      position absolute
      left 50% 
      z-index 3
      background rgba(216, 216, 216, .5)
      +a($m)
        top -79px
        left 50%
      +b($m)
        display none
      &.active
        +a($m)
          height 100px
        +b($m)
          height 50px
    &-list
      font-size 0
      counter-reset div
      +a($m)
        margin-top 40px
      +b($m)
        margin-top 20px
      &-item
        display inline-block
        line-height 32px
        font-size 18px
        font-family "Proxima Nova"  
        box-sizing border-box
        position relative
        vertical-align middle
        +a($m)
          width calc(100%/3)
          font-size 18px
          padding 14px 10px 14px 80px
        +b($m)
          font-size 16px
          width 100%
          padding 0 0 0 45px
          margin-bottom 20px
          &:last-child
            margin-bottom 0
        &:before
          content counter(div)
          counter-increment div
          display block
          position absolute
          box-sizing border-box
          border 2px solid #F78200
          color #000
          border-radius 10px
          text-align center
          vertical-align middle
          font-weight bold
          top 50%
          transform translateY(-50%)
          left 0
          +a($m)
            height 60px
            width 60px
            font-size 16px
            line-height 56px
          +b($m)
            height 30px
            width 30px
            font-size 12px
            line-height 26px
  &__changes
    background-image url(../img/bottom_bg.png)
    background-size cover
    background-position top    
    background-color #ffffff
    position relative    
    +a($m)
      min-height 800px
    +b($m)
      min-height 480px
      padding 0 20px
    &:before
      content ''
      display block
      position absolute
      top 0
      left 50%
      transform translateX(-50%)
      background url('../img/top_tongue.svg')
      background-size 100%
      +a($m)
        width 346px
        height 71px
      +b($m)
        width 182px
        height 37px
    &:after
      content ''
      display block
      position absolute
      bottom 0
      left 50%
      transform translateX(-50%)
      background url('../img/bottom_tongue.svg')
      background-size 100%
      +a($m)
        width 483px
        height 113px
      +b($m)
        width 208px
        height 43px
    .blueline
      position absolute
      +a($m)
        top -20px 
        left 0
      +b($m)
        top -10px  
        left 20px
      &.active
        +a($m)    
          height 280px
        +b($m)
          height 140px
    .greyline
      position absolute
      left 50% 
      background rgba(216, 216, 216, .1 )
      +a($m)
        top -78px
      +b($m)
        top -20px
      &.active
        +a($m)     
          height 219px
        +b($m)
          height 40px
    .orangeline
      position absolute
      +a($m)
        top -40px
        right 0
      +b($m)
        top -37px  
        right 20px
      &.active
        +a($m)     
          height 204px
        +b($m)
          height 71px
    .container
      position relative
      +a($m)
        min-height 800px
      +b($m)
        min-height 480px
    &-title
      width 100%
      text-align center
      font-weight bold      
      top 50%
      transform translateY(-50%) !important 
      position absolute
      text-transform uppercase
      color #ffffff
      +a($m)
        font-size 40px
        line-height 60px
      +b($m)
        font-size 18px
        line-height 25px
      span        
        +a($m)
          font-size 72px
        +b($m)
          font-size 41px
  /*стили по открытой вакансии*/        
  .backurl
    +a($m)
      display none
    +b($m)
      display block   
  &__about
    color #000
    +a($m)
      padding-top 60px
    +b($m)
      padding-top 30px
    .container
      +b($m)
        padding 0 20px
        box-sizing border-box
    .blueline
      position absolute
      +a($m)
        top -90px
        left 0
      +b($m)
        top -50px
        left 20px
      &.active
        +a($m)     
          height 60px
        +b($m)
          height 40px
    .greycircle
      position absolute
      background #EBEBEB
      +a($m)
        top -188px
        right 0
      +b($m)
        top -108px  
        right 20px
      &:before
        background transparent
        border 2px solid #EBEBEB
        +a($m)
          width 12px
          height 12px
          top auto
          bottom -16px
          left -7px
        +b($m)
          width 6px
          height 6px
          top auto
          bottom -10px
          left -4px 
      &.active
        +a($m)     
          height 240px
        +b($m)
          height 90px  
    &-text
      font-size 18px 
      line-height 28px
      max-width 766px 
      font-family "Proxima Nova"
      +a($m)
        font-size 18px 
        line-height 28px
      +b($m)
        font-size 16px 
        line-height 24px        
    &-list    
      +a($m)
        margin-top 120px
      +b($m)
        margin-top 50px
      .greyline
        position absolute
        left 50% 
        z-index 3
        background rgba(216, 216, 216, .5)
        +a($m)
          top -86px
          left 50%
        +b($m)
          top -44px
          left 50%
        &.active
          +a($m)
            height 60px
          +b($m)
            height 30px
      .bluecircle
        position absolute
        z-index 3
        +a($m)
          top -183px  
          right 0px
        +b($m)
          top -98px  
          right 20px
        &.active
          +a($m)
            height 400px
          +b($m)
            height 100px   
      h2
        text-transform uppercase
        text-align left
        +a($m)
          margin-bottom 28px
        +b($m)
          margin-bottom 20px
      &-items
        display block    
        +a($d)    
          margin-left -30px
        +b($d)
          margin-left 0
      &-item
        display block
        max-width 750px
        border-top 1px solid rgba(216, 216, 216, .5)
        font-family "Proxima Nova"
        position relative
        +a($m)
          font-size 18px 
          line-height 40px
          margin-left 30px
          padding 10px 0
        +b($m)
          font-size 16px 
          line-height 24px
          margin-left 22px
          padding 6px 0
        &:first-child
          border none
        &:before
          content ''
          width 8px
          height 8px
          background #212B41
          border 3px solid #FFFFFF
          box-shadow 0 2px 4px 0 rgba(0,0,0,0.20)
          position absolute
          display block
          border-radius 10px   
          +a($m)      
            top 24px 
            left -31.5px
          +b($m)      
            top 11px
            left -24.5px
        
        
  
        
        