@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Rounds';
    src: url('../fonts/TTRounds-Bold.eot');
    src: url('../fonts/TTRounds-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TTRounds-Bold.woff2') format('woff2'),
         url('../fonts/TTRounds-Bold.woff') format('woff'),
         url('../fonts/TTRounds-Bold.ttf') format('truetype'),
         url('../fonts/TTRounds-Bold.svg#TTRounds-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Rounds';
    src: url('../fonts/TTRounds-Regular.eot');
    src: url('../fonts/TTRounds-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TTRounds-Regular.woff2') format('woff2'),
         url('../fonts/TTRounds-Regular.woff') format('woff'),
         url('../fonts/TTRounds-Regular.ttf') format('truetype'),
         url('../fonts/TTRounds-Regular.svg#TTRounds-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
html,
body
  background-color #fff 
  
html
  touch-action: manipulation
  visibility visible !important
  opacity 1 !important
  -webkit-text-size-adjust none
  +a($d)
    font-size 1px
  +btw($t, $d)
    font-size (100 / 1024)vw
  +btw($m, $t)
    font-size (100 / 768)vw
  +b($m)
    font-size (100 / 320)vw  
  &.-dragged
    user-select none
    pointer-events none
  &:before,
  &:after
    display none !important

body
  font 14px/1.571429em "TT Rounds", Helvetica, Arial, sans-serif
  color #fff
  
button
  font-family "TT Rounds", Helvetica, Arial, sans-serif
    
svg
  transition-duration $speed
  transition-property fill, stroke, color
  &:not(:root)
    overflow hidden

svg:not(.-no-restyle)
  fill currentcolor 
  [fill]
    fill currentcolor
  [stroke]
    stroke currentcolor
  
a
  color $blue
  transition-duration $speed
  transition-property color  
  svg
    transition none
  &:link
    text-decoration none
  &:hover
    text-decoration underline
  &:visited
    text-decoration none
  &:active
    text-decoration none
  &[href*="tel:"]
    white-space nowrap

.wrapper
  width 100% 
  overflow hidden
  position relative
  
.container
  margin auto
  max-width 1140px
  position relative  
  +a($d)
    width 100%
  +btw($t, $d)
    width 93.75%
  +btw($m, $t)
    width 94.010417%  
  +b($m)
    width 100%
    
hr
  display block
  padding 0
  margin 0
  border none
  background-color $bluee5
  height 1px  
  &.-bold
    height 6px
    border-radius 3px
    background-color $blue3e 
    +b($m)
      margin 0 -3px 
      
img
  &.-grayscale,
  &.-grayscale-hoverable
    filter grayscale(100%)
  &.-grayscale-hoverable
    transition filter $speed
    &:hover
      filter none

.hidden
  display none !important
.hidden-below-d
  +b($d)
    display none !important
.hidden-below-1160
  +b(1200px)
    display none !important
.hidden-above-d
  +a($d)
    display none !important
.hidden-below-t
  +b($t)
    display none !important
.hidden-below-830
  +b(830px)
    display none !important
.hidden-above-t
  +a($t)
    display none !important
.hidden-below-m
  +b($m)
    display none !important
.hidden-above-m
  +a($m)
    display none !important
.hidden-between-m-t
  +btw($m, $t)
    display none !important
.hidden-above-600
  +a(600px)
    display none !important
.hidden-below-600
  +b(600px)
    display none !important
.hidden-above-320
  +a(320px)
    display none !important
.hidden-below-320
  +b(320px)
    display none !important
    
.nobr
  white-space nowrap
  
.text-warning
  color $redf4 
  
.js-tooltip
  display inline-block
  font-size 0
  line-height 0
  html.no-mobile &
    cursor help
  html.mobile &
    cursor pointer
.new-site-hidden
  display none !important
/*lines*/
.greyline
  width 2px
  height 0px
  background-color rgba(216, 216, 216, 0.1)
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
.blueline
  width 2px
  height 0px
  background-color #3B7EFF
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
.orangecircle
  width 2px
  height 0px
  background-color #FD933B
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
  &:before
    content ""
    display block
    position absolute
    border 2px solid #FD933B
    border-radius 16px
    transition-duration .2s
    +a($m)
      width 12px
      height 12px
      bottom -16px
      left -7px
    +b($m)
      width 6px
      height 6px
      bottom -10px
      left -4px 
.orangeline
  width 2px
  height 0px
  background-color #FD933B    
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important  
.greycircle
  width 1px
  height 0px
  background-color #D8D8D8
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
  &:before
    content ""
    display block
    position absolute
    background #fff
    border 1px solid #D8D8D8
    border-radius 16px
    transition-duration .2s
    +a($m)
      width 14px
      height 14px
      top -16px
      left -7.5px
    +b($m)
      width 8px
      height 8px
      top -10px
      left -4.5px 

  
