ellipsis()
  text-overflow ellipsis
  white-space nowrap
  position relative
  overflow hidden
 
amh($speed = $speed)
  transition max-height $speed
  max-height 0
  overflow hidden
  position relative 

preloader()
  position relative
  &:before
    content "" 
    display block
    position absolute
    top 50%
    left 50%
    border 3px solid rgba($blue3e, 0.25)
    border-bottom-color $blue3e 
    z-index 2147483647
    border-radius 50%
    animation spin 1s infinite linear
    box-sizing border-box
    +a($m)
      width 30px
      height 30px
      margin -15px
    +b($m)
      width 24px
      height 24px
      margin -12px
.greyline
  width 2px
  height 0px
  background-color rgba(216, 216, 216, 0.1)
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
.blueline
  width 2px
  height 0px
  background-color #3B7EFF
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
.orangecircle
  width 2px
  height 0px
  background-color #FD933B
  border-radius 10px
  transition-property all !important
  transition .4s ease-out !important
  &:before
    content ""
    display block
    position absolute
    border 2px solid #FD933B
    border-radius 16px
    transition-duration .2s
    +a($m)
      width 12px
      height 12px
      bottom -16px
      left -6.5px
    +b($m)
      width 6px
      height 6px
      bottom -10px
      left -4px   

  