h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight bold
   
h1,
h2,
h3,
h4,
h5,
h6
  margin 0 

h1,
.h1
  +a($m)
    font-size 52px
    line-height 70px
    margin 0 0 25px
  +b($m)
    font-size 22px
    line-height 32px
    margin 19px 0 18px
    br
      display none
  span
    font-weight 300
    letter-spacing -1.12px  

h2,
.h2
  +a($m)
    font-size 40px
    line-height 50px 
  +b($m)
    font-size 22px
    line-height 32px
h3,
.h3
  +a($m)
    font-size 24px
    line-height 30px
  +b($m)
    font-size 18px
    line-height 24px

h4,
.h4
  line-height 27px
  +a($d)
    font-size 20px
  +b($d)
    font-size 18px

h5,
.h5
  font-size 16px
  text-transform uppercase
  margin 47px 0 15px 

h6,
.h6
  font-size 16px

.text
  color #000000
  &.-flow
    margin 20px 0 
  &.-indention-top
    display block
    padding-top 15px
  p
    +a($m)
      line-height 28px
      font-size 18px
      margin-top 28px      
    +b($m)
      line-height 24px
      font-size 16px
      margin-top 24px 
  h2,
  h3,
  h5,
  h6
    margin 2em 0 1em
  h4
    margin 26px 0 11px
    +b($d)
      line-height 22px
  img
    margin-bottom 8px
    &[align="left"]
      margin-right 25px
    &[align="right"]
      margin-left 25px
  > div
    margin-top 30px
    margin-bottom 30px
  hr
    margin-top 25px
    margin-bottom 25px  
 
.button      
  border 2px solid #F78200
  border-radius 2px
  color #ffffff
  font-weight bold
  text-align center      
  font-family "Proxima Nova"
  display inline-block
  transition all $speed
  +a($m)
    font-size 16px
    line-height 56px
    height 56px
    padding 0 60px
  +b($m)
    width 100% 
    font-size 16px
    line-height 46px
    height 46px
    box-sizing border-box
  &:hover
    background-color #F78200
    text-decoration none
