// colors

$blue37 = #37384c
$blue3e = #3e3f55
$blueb7 = #b7b6c7
$bluee5 = #e5e5ed
$redf4 = #f44519
$redf1 = #f16347
$blue = #3c7fff
$green = #00a161
$grayf3 = #f3f3f4
$grayf5 = #f5f5f6
$skype = #00a9f0
$red = #ef4926
$black = #38384a
$gray = #f5f6f9
 
// transitions

$speed =  0.2s, 0.2s, 0.2s //150ms

// adaptive

$d = 1198px
$t = 980px
$m = 767px

// keyframes

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg) 
